<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/"> <!--to remove # from url of angular route-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="crm/config.js"></script>

    <!-- Main Angular Files -->
    <script src="crm/public/assets/js/angular.js"></script>
    <script src="crm/public/assets/js/angular-route.js"></script>
    <script src="crm/public/assets/js/angular-animate.js"></script>
    <script src="crm/public/assets/js/jquery-3.1.1.min.js"></script>

    <script src="crm/public/assets/js/bootstrap.js"></script>
    <!--<script src="crm/public/assets/js/bootstrap-datepicker.js"></script>-->
    <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.css">-->
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.js"></script>-->
    <!--<script src="crm/public/assets/js/angular-selectize.js"></script>-->
    <!-- Angular Config/Routes -->
    <script src="crm/public/app/app.js"></script>
    <script src="crm/public/app/routes.js"></script>
    <!-- Angular Controllers -->
    <script src="crm/public/app/controllers/mainCtrl.js"></script>
    <script src="crm/public/app/controllers/userCtrl.js"></script>
    <script src="crm/public/app/controllers/emailCtrl.js"></script>
    <script src="crm/public/app/controllers/adminCtrl.js"></script>



    <!-- Hierarchical structure-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Angular Services -->
    <script src="crm/public/app/services/authServices.js"></script>
    <!-- Cascade Style Sheets -->
    <link rel="stylesheet" type="text/css" href="crm/public/assets/css/bootstrap.css">
    <!--<link rel="stylesheet" type="text/css" href="crm/public/assets/css/bootstrap-datepicker.css">-->
    <link rel="stylesheet" type="text/css" href="crm/public/assets/css/font.css">
    <link rel="stylesheet" type="text/css" href="crm/public/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="crm/public/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="crm/public/assets/css/style2.css">
    <link rel="stylesheet" type="text/css" href="crm/public/assets/css/myStyle.css">
    <link rel="stylesheet" type="text/css" href="crm/public/assets/css/loader.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <title>Yolo CRM</title>

    <style>
        .webStatus{
            width: 100px;
            color: #ffffff;
            font-weight: 600;
            padding: 7px;
            text-align: center;
            margin-right: 10px;
        }

        .panel {
            margin-bottom: 0px !important;
        }
    </style>

    <script>
        $(document).ready(function () {

            $(".menu-btn").click(function() {
                $("#sidebar-wrapper").toggleClass("menu-closed");
                $("#wrapper").toggleClass("wrapper-closed");
            });
            if($(window).innerWidth() <= 767) {
                $('.toggleSidebar').click(function () {
                    $("#sidebar-wrapper").toggleClass("menu-closed");
                    $("#wrapper").toggleClass("wrapper-closed");
                });
            }
            $(".logout").click(function() {
                if(!($("#sidebar-wrapper").hasClass("menu-closed"))){
                    $("#sidebar-wrapper").toggleClass("menu-closed");
                    $("#wrapper").toggleClass("wrapper-closed");
                }
            });
        });
    </script>
</head>
<body ng-app="userApp" ng-controller="mainCtrl" ng-cloak="">
    <div class="loader"></div>
    <div class="backgroundShade"></div>
    <div class="notificationContainer">
        <div class="notificationTab notificationTabSuccess" ng-show="notificationSuccessMsg">{{notificationMsg}}</div>
        <div class="notificationTab notificationTabFailed" ng-show="notificationFailedMsg">{{notificationMsg}}</div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="container" style="margin: 0;width: 100%;">

            <div class="navbar-header">
                <span class="menu-btn" ng-show="isLoggedIn"><i class="fa fa-bars" aria-hidden="true"></i></span>
                <a class="navbar-brand topnav" style="    padding: 5px 12px; width: 185px" href="/crm/#top">
                    <img src="crm/public/assets/images/logonavbar_yolo.png" height="auto" style="width: 100%;">
                </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" style="top: 8px;">
                    <li>
                        <div class="dropdown" ng-show="isLoggedIn">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                    id="dropdownMenu1" aria-haspopup="true" aria-expanded="true">Hello {{ userdetails.name }}
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a href="/crm/profile">
                                        <span>
                                            <i class="fa fa-user-circle"></i>
                                        </span>
                                        Profile
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="pointer">
                                    <a ng-click="logout()" class="logout" href="/crm/logout">
                                        <span class="">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        </span>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

    </nav>

    <!-- Sidebar -->
    <div id="wrapper" class="toggled wrapper-closed">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="menu-closed">
            <ul class="sidebar-nav" id="accordion">
                <div ng-show="isLoggedIn">
                    <!--<li class="panel navList">-->
                        <!--<div class="panel-heading">-->
                            <!--<h4 class="panel-title">-->
                                <!--<a href="/crm/profile"><span class=""><i class="fa fa-user-circle"></i></span>My Profile</a>-->
                            <!--</h4>-->
                        <!--</div>-->
                    <!--</li>-->
                    <div ng-hide="isAdmin">
                        <li class="panel navList toggleSidebar">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="/crm/followups"><span class=""><i class="fa fa-calendar" aria-hidden="true"></i></span>Follow Ups</a>
                                </h4>
                            </div>
                        </li>
                        <li class="panel navList toggleSidebar">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="/crm/work-entry"><span class=""><i class="fa fa-tty" aria-hidden="true"></i></span>My Work Entry</a>
                                </h4>
                            </div>
                        </li>
                        <!--<li class="panel navList toggleSidebar">-->
                            <!--<div class="panel-heading">-->
                                <!--<h4 class="panel-title">-->
                                    <!--<a href="/crm/myclients"><span class=""><i class="fa fa-users"></i></span>My Clients</a>-->
                                <!--</h4>-->
                            <!--</div>-->
                        <!--</li>-->
                        <li class="panel navList toggleSidebar" ng-show="gotJuniors">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="/crm/juniors"><span class=""><i class="fa fa-users" aria-hidden="true"></i></span>My Juniors</a>
                                </h4>
                            </div>
                        </li>
                    </div>
                    <div ng-show="isAdmin">
                        <li class="panel navList toggleSidebar">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="/crm/hierarchy"><span class=""><i class="fa fa-sitemap" aria-hidden="true"></i></span>Hierarchy</a>
                                </h4>
                            </div>
                        </li>
                        <li class="panel navList toggleSidebar">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="/crm/register"><span class=""><i class="fa fa-edit" aria-hidden="true"></i></span>Register</a>
                                </h4>
                            </div>
                        </li>
                        <li class="panel navList toggleSidebar">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="/crm/employees"><span class=""><i class="fa fa-users" aria-hidden="true"></i></span>Employees</a>
                                </h4>
                            </div>
                        </li>
                        <li class="panel navList toggleSidebar">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="/crm/addefforts"><span class=""><i class="fa fa-plus-square-o" aria-hidden="true"></i></span>Add Effort</a>
                                </h4>
                            </div>
                        </li>
                        <!--<li class="panel navList toggleSidebar">-->
                            <!--<div class="panel-heading">-->
                                <!--<h4 class="panel-title">-->
                                    <!--<a href="/crm/uploadCsv"><span class=""><i class="fa fa-upload" aria-hidden="true"></i></span>Upload CSV</a>-->
                                <!--</h4>-->
                            <!--</div>-->
                        <!--</li>-->
                        <li class="panel navList toggleSidebar">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="/crm/export-employee-followups"><span class=""><i class="fa fa-download" aria-hidden="true"></i></span>Export Data</a>
                                </h4>
                            </div>
                        </li>
                    </div>
                    <li class="panel navList toggleSidebar">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/crm/addclient"><span class=""><i class="fa fa-plus-square-o" aria-hidden="true"></i></span>Add Client</a>
                            </h4>
                        </div>
                    </li>

                    <li class="panel navList">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/crm/logout" class="logout" ng-click="logout()">
                                    <span class="">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    </span>
                                    Logout
                                </a>
                            </h4>
                        </div>
                    </li>
                </div>
            </ul>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper" style=" padding:0 20px;">
            <div class="">
                <div class="row">
                    <div class="col-lg-12">
                        <div ng-view></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        function fadeout()
        {
            $('.loader').fadeOut();
        }
        function fadein()
        {
            $('.loader').fadeIn();
        }
        function slideDownAddClientForm(){
            $('.add-client-form').slideToggle(700);
        }
    </script>
    <!--<script type="text/javascript" src="crm/public/assets/js/xlsx.core.min.js"></script>-->
    <!--<script type="text/javascript" src="crm/public/assets/js/FileSaver.js"></script>-->
    <!--<script type="text/javascript" src="crm/public/assets/js/tableexport.js"></script>-->
    <script type="text/javascript" src="crm/public/assets/js/tableExport/tableExport.js"></script>
    <script type="text/javascript" src="crm/public/assets/js/tableExport/jquery.base64.js"></script>
    <script type="text/javascript" src="crm/public/assets/js/tableExport/html2canvas.js"></script>
    <script type="text/javascript" src="crm/public/assets/js/tableExport/sprintf.js"></script>
    <script type="text/javascript" src="crm/public/assets/js/tableExport/jspdf.js"></script>
    <script type="text/javascript" src="crm/public/assets/js/tableExport/base64.js"></script>

</body>

</html>