<script>
    $('#usersidebar-wrapper').css({left: '250px'});
</script>
<div class="">
    <div class="">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-10">
                <h3 style="font-weight: 600; margin-top: 10px;">Efforts</h3>
            </div>
        </div>
    </div>
    <hr />
    <div class="add-effort-form clearfix">
        <form ng-submit="addEffort(data)" enctype="multipart/form-data" class="effort-form clearfix">
            <div class="form-group row">
                <label for="effortname" class="col-sm-2 col-form-label">Effort Name:</label>
                <div class="col-sm-10">
                    <input class="form-control manualwidth display_initial" id="effortname" type="text" name="effortname" placeholder="Please enter effort" ng-model="data.effortname" autocomplete="false" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Effort Weightage:</label>
                <div class="col-sm-10">
                    <input class="form-control manualwidth display_initial" type="number" maxlength="5" name="effortwaitage" placeholder="Please enter weightage" ng-model="data.effortwaitage" autocomplete="false" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="effortremark" class="col-sm-2 col-form-label">Remarks:</label>
                <div class="col-sm-10">
                    <textarea class="form-control manualwidth display_initial" style="margin: 0;" id="effortremark" name="effortremark" placeholder="Please enter remark" ng-model="data.effortremark" autocomplete="false" required></textarea>
                </div>
            </div>
            <!--<div class="form-group row">-->
                <!--<label class="col-sm-2 col-form-label">Policy:</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input class="form-control manualwidth display_initial" type="file" name="effortpolicy" placeholder="Please enter waitage" ng-model="data.effortpolicy" accept="*/*"-->
                           <!--onchange="angular.element(this).scope().fileNameChanged(this)">-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-md-2" style="padding: 0;">
                <button class="btn btn-primary" type="submit" style="margin: 0 auto;width: 100px;">Add</button>
            </div>
        </form>
        <hr />
    </div>
    <div class="panel panel-primary filterable" >
        <div class="panel-heading" >
            <h3 class="panel-title">Efforts list</h3>
        </div>
        <table class="table"  id="analystTable" ng-show="gotEfforts">
            <thead>
                <tr class="filters">
                    <th>Effort</th>
                    <th>Weightage</th>
                    <th>Remarks</th>
                    <!--<th>Policy</th>-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in effortList">
                    <td style="text-transform: capitalize;">{{row.effort}} </td>
                    <td>{{row.waitage}}</td>
                    <td>{{row.remarks}}</td>
                    <!--<td>{{}}</td>-->
                </tr>
            </tbody>
        </table>
        <h1 ng-show="nodata">No Efforts</h1>
    </div>
    <br />
</div>

