<script>
    $('#usersidebar-wrapper').css({left: '250px'});

</script>
<div class="">
    <div class="">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-10">
                <h3 style="font-weight: 600; margin-top: 10px;">
                    Add New Party
                </h3>
            </div>
            <div class="col-md-2 text-right" style="margin-top: 10px;">
                <button type="button" class="btn btn-primary" onclick="slideDownAddClientForm()">Add New</button>
            </div>
        </div>
    </div>
    <hr />
    <div class="add-effort-form clearfix add-client-form">
        <form ng-submit="addClient(data)" class="effort-form clearfix">
            <div class="form-row clearfix">
                <div class="form-group col-sm-6" style="padding-left: 0;">
                    <label class="">Person Name <font color="red">*</font> :</label>
                    <input class="form-control display_initial" id="partyname" type="text" name="client_name" placeholder="Please enter Person Name" ng-model="data.client_name" autocomplete="false" required>
                </div>
                <div class="form-group col-sm-6">
                    <label class="">Company Name <font color="red">*</font> :</label>
                    <input class="form-control display_initial" id="orgname" type="text" name="org_name" placeholder="Please enter Company Name" ng-model="data.org_name" autocomplete="false" required>
                </div>
            </div>
            <div class="form-row clearfix">
                <div class="form-group col-sm-6" style="padding-left: 0;">
                    <label class="col-form-label">Email ID:</label>
                    <input class="form-control display_initial" type="email" name="email_id" placeholder="Please enter Email Id" ng-model="data.email_id" autocomplete="false">
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-form-label">Contact Number 1 <font color="red">*</font> :</label>
                    <input class="form-control display_initial" id="contact" type="text" ng-keypress="isNumberKey($event)" maxlength="12" minlength="10" name="contact_number1" placeholder="Please enter Contact" ng-model="data.contact_number1" autocomplete="false" required>
                </div>
            </div>
            <div class="form-row clearfix">
                <div class="form-group col-sm-6" style="padding-left: 0;">
                    <label class="col-form-label">Contact Number 2:</label>
                    <input class="form-control display_initial" type="text" ng-keypress="isNumberKey($event)" maxlength="12" minlength="10" name="contact_number2" placeholder="Please enter Contact" ng-model="data.contact_number2" autocomplete="false">
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-form-label">Vertical:</label>
                    <input class="form-control display_initial" type="text" name="vertical" placeholder="Please enter Vertical" ng-model="data.vertical" autocomplete="false">
                </div>
            </div>
            <div class="form-row clearfix">
                <div class="form-group col-sm-2" style="padding-left: 0;">
                    <label class="col-form-label">City <font color="red">*</font> :</label>
                    <select ng-model="data.city" ng-options="city for city in cities" class="form-control display_initial capitalizeText">
                    </select>
                    <!--<input class="form-control display_initial" type="text" name="city" placeholder="Enter City" ng-model="data.city" autocomplete="false" required>-->
                </div>
                <div class="form-group col-sm-2" style="padding-left: 0;">
                    <label class="col-form-label">Area <font color="red">*</font> :</label>
                    <input class="form-control display_initial" type="text" name="area" placeholder="Enter Area" ng-model="data.area" autocomplete="false" required>
                </div>
                <div class="form-group col-sm-2" style="padding-left: 0;">
                    <label class="col-form-label">Place <font color="red">*</font> :</label>
                    <input class="form-control display_initial" type="text" name="place" placeholder="Enter Place" ng-model="data.place" autocomplete="false" required>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-form-label">Start Date:</label>
                    <input type="text" class="form-control display_initial inputBox startDate" data-date-format="mm/dd/yyyy">
                    <input type="hidden" class="dateofstart" ng-model="data.startDate" name="startDate" >
                </div>
            </div>
            <div class="col-sm-2" style="padding: 0;">
                <button class="btn btn-primary" type="submit" style="margin: 0 auto;width: 100px;">Add</button>
            </div>
        </form>
        <hr />
    </div>
    <!-- .All Client List Table-->
    <div class="panel panel-primary filterable" ng-show="gotClients && isAdmin">
        <div class="panel-heading" >
            <h3 class="panel-title" style="opacity:0;">My Clients</h3>
            <div class="pull-right" style="width: 25%;">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown">
                            <div class="dropdown-toggle"  data-toggle="dropdown">Export To
                                <span class="caret"></span></div>
                            <ul class="dropdown-menu" >
                                <li ng-repeat="files in filetypes"><a ng-click="ExportTo(files,'clientsTable')" >{{files}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table" id="clientsTable">
            <thead>
                <tr>
                    <td><input id="search-by-person" class="form-control" type="text" placeholder="By Person" ng-keyup="filterTable($event,0,'allClientsInTabularForm')"></td>
                    <td><input id="search-by-company" class="form-control" type="text" placeholder="By Company" ng-keyup="filterTable($event,1,'allClientsInTabularForm')"></td>
                    <td><input id="search-by-place" class="form-control" type="text" placeholder="By Place" ng-keyup="filterTable($event,2,'allClientsInTabularForm')"></td>
                    <td><input id="search-by-email" class="form-control" type="text" placeholder="By Email" ng-keyup="filterTable($event,3,'allClientsInTabularForm')"></td>
                    <td><input id="search-by-contact" class="form-control" type="text" placeholder="By Contact" ng-keyup="filterTable($event,4,'allClientsInTabularForm')"></td>
                    <td><input id="search-by-contact2" class="form-control" type="text" placeholder="By Contact" ng-keyup="filterTable($event,5,'allClientsInTabularForm')"></td>
                    <td><input id="search-by-vertical" class="form-control" type="text" placeholder="By Vertical" ng-keyup="filterTable($event,6,'allClientsInTabularForm')"></td>
                    <td><input id="search-by-date" class="form-control" type="text" placeholder="By Date" ng-keyup="filterTable($event,7,'allClientsInTabularForm')"></td>
                </tr>
                <tr class="filters">
                    <th>Person Name</th>
                    <th>Company</th>
                    <th>Location</th>
                    <th>Email ID</th>
                    <th>Contact No. 1</th>
                    <th>Contact No. 2</th>
                    <th>Vertical</th>
                    <th>Start Date</th>
                    <th>Is Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="allClientsInTabularForm">
                <tr ng-repeat="row in allClients">
                    <td class="capitalizeText">{{row.client_name}} </td>
                    <td class="capitalizeText">{{(row.organization_name) ? row.organization_name : row.client_name}}</td>
                    <td class="capitalizeText">{{row.place}}</td>
                    <td class="">{{(row.email) ? row.email : "--"}}</td>
                    <td class="capitalizeText">{{(row.contact_number1) ? row.contact_number1 : "--"}}</td>
                    <td class="capitalizeText">{{(row.contact_number2) ? row.contact_number2 : "--"}}</td>
                    <td class="capitalizeText">{{(row.verticals) ? row.verticals : "--"}}</td>
                    <td>{{row.start_date | date:'mediumDate'}}</td>
                    <td>
                        <button class="isCompletedButton" ng-click="toggleClientActiveness(row.isactive, row._id)">
                            <i class="fa fa-check-square-o isActiveButtonCheck" ng-show="row.isactive" aria-hidden="true"></i>
                            <i class="fa fa-window-close-o isActiveButtonCross" ng-show="row.isactive == false" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>
                        <a href="/crm/editclient/{{row['client_name']}}/{{row['_id']}}" class="btn btn-primary">Edit Client</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h1 ng-show="nodata">No Clients</h1>
    </div>
    <!-- ./All Client List Table-->

    <!-- .My Client List Table-->
    <div class="panel panel-primary filterable" ng-show="gotClients && !isAdmin">
        <div class="panel-heading" >
            <h3 class="panel-title">My Clients</h3>
            <div class="pull-right" style="width: 25%;">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown">
                            <div class="dropdown-toggle"  data-toggle="dropdown">Export To
                                <span class="caret"></span></div>
                            <ul class="dropdown-menu" >
                                <li ng-repeat="files in filetypes"><a ng-click="ExportTo(files,'userAllClientsTable')" >{{files}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered" id="userAllClientsTable">
            <thead>
                <tr>
                    <td><input id="search-by-companyname" class="form-control" type="text" placeholder="By Company" ng-keyup="filterTable($event,0,'myclientsInTabularForm')"></td>
                    <td><input id="search-by-personname" class="form-control" type="text" placeholder="By Person" ng-keyup="filterTable($event,1,'myclientsInTabularForm')"></td>
                    <td><input id="search-by-startdate" class="form-control" type="text" placeholder="By Start Date" ng-keyup="filterTable($event,2,'myclientsInTabularForm')"></td>
                    <td><input id="search-by-location" class="form-control" type="text" placeholder="By City" ng-keyup="filterTable($event,3,'myclientsInTabularForm')"></td>
                    <td><input id="search-by-lastentry" class="form-control" type="text" placeholder="By Last Entry" ng-keyup="filterTable($event,4,'myclientsInTabularForm')"></td>
                    <td><input id="search-by-status" class="form-control" type="text" placeholder="By Status" ng-keyup="filterTable($event,5,'myclientsInTabularForm')"></td>
                    <td><input id="search-by-dates" class="form-control" type="text" placeholder="By Date" ng-keyup="filterTable($event,6,'myclientsInTabularForm')"></td>
                    <td></td>
                    <td></td>
                    <!--<td></td>-->
                </tr>
                <tr>
                    <th>Company</th>
                    <th>Person Name</th>
                    <th>Client Start Date</th>
                    <th>City</th>
                    <th>Last Entry</th>
                    <th>Status</th>
                    <th>Last Entry Date</th>
                    <th>History</th>
                    <!--<th>Edit</th>-->
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody id="myclientsInTabularForm">
                <tr ng-repeat="row in clientsOfUser" ng-hide="!row.isactive">
                    <td class="capitalizeText">{{ row.organization_name }}</td>
                    <td class="capitalizeText">{{ row.client_name }}</td>
                    <td class="capitalizeText">{{ (row.start_date != undefined) ? row.start_date : today | date:"medium" }}</td>
                    <td class="capitalizeText">{{ row.place }}</td>
                    <td>{{row.latest_followup[0].remarks}}</td>
                    <td>{{row.latest_followup[0].status}}</td>
                    <td>{{row.latest_followup[0].date | date:"medium"}}</td>
                    <!--&lt;!&ndash;  data-contentwrapper=".custom-popover"  rel="popover" title="History" &ndash;&gt;-->
                    <td><button type="button" class="btn btn-primary" id="popOver-{{$index}}" ng-click="showPopOver($event,row._id)">History</button></td>
                    <!--<td style="text-align: center;">-->
                        <!--<a href="/crm/editclient/{{row['client_name']}}/{{row['_id']}}" class="isCompletedButton">-->
                            <!--<i class="fa fa-edit isActiveButtonCheck"></i>-->
                        <!--</a>-->
                    <!--</td>-->
                    <td style="text-align: center;">
                        <button class="isCompletedButton" ng-click="removeFromMyClient(row.client_of_user, row._id)">
                            <i class="fa fa-window-close-o isActiveButtonCross" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <h1 ng-show="nodata">No Follow-Ups</h1>
    </div>
    <div class="card custom-popover">
        <div class="arrow" style="top: 0px;right: -14px;"></div>
        <div class="card-header">
            History
        </div>
        <div class="card-body comment-history">
            <div ng-repeat="row in historyData">
                <p style="font-weight: bold;color: #777;margin-bottom: 0;">
                    Followed Up On {{row.date | date:'medium'}}
                </p>
                <p style="font-weight: bold;color: #000;margin-bottom: 0;" class="capitalizeText">
                <span style="float: right;">
                    {{row.status}}
                </span>
                    {{row.remarks}}
                </p>
                <!--<p style="font-weight: bold;color: #a2a2a2;"></p>-->
                <hr style="margin: 10px 0;"/>
            </div>
            <div ng-if="historyData.length == 0">
                No history Yet
            </div>
        </div>
        <hr style="margin: 0;" ng-hide="true"/>
        <div style="margin-top: 10px;padding: 12px;" ng-hide="true">
            <input type="text" ng-model="comment" name="comment" class="form-control inputBox" placeholder="Comment" style="max-width: 250px;width: 50%; margin-right: 5px" autocomplete="off">
        </div>
    </div>
    <!-- ./My Client List Table-->

    <br />
</div>

