<script>
    $('#usersidebar-wrapper').css({left: '250px'});

</script>
<div class="">
    <div class="">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-10">
                <h3 style="font-weight: 600; margin-top: 10px;">Update {{clientName}} Information </h3>
            </div>
        </div>
    </div>
    <hr />
    <div class="add-effort-form clearfix">
        <form ng-submit="updateClientInfo(data)" class="effort-form clearfix">
            <div class="form-row clearfix">
                <div class="form-group col-sm-6" style="padding-left: 0;">
                    <label class="">Person Name <font color="red">*</font> :</label>
                    <input class="form-control display_initial" id="partyname" type="text" name="client_name" placeholder="Please enter Person Name" ng-model="data.client_name" autocomplete="false" required>
                </div>
                <div class="form-group col-sm-6">
                    <label class="">Company Name <font color="red">*</font> :</label>
                    <input class="form-control display_initial" id="orgname" type="text" name="org_name" placeholder="Please enter Company Name" ng-model="data.org_name" autocomplete="false" required>
                </div>
            </div>
            <div class="form-row clearfix">
                <div class="form-group col-sm-6" style="padding-left: 0;">
                    <label class="col-form-label">Email ID:</label>
                    <input class="form-control display_initial" type="email" name="email_id" placeholder="Please enter Email Id" ng-model="data.email_id" autocomplete="false">
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-form-label">Contact Number 1 <font color="red">*</font> :</label>
                    <input class="form-control display_initial" id="contact" type="text" ng-keypress="isNumberKey($event)" maxlength="12" minlength="10" name="contact_number1" placeholder="Please enter Contact" ng-model="data.contact_number1" autocomplete="false" required>
                </div>
            </div>
            <div class="form-row clearfix">
                <div class="form-group col-sm-6" style="padding-left: 0;">
                    <label class="col-form-label">Contact Number 2:</label>
                    <input class="form-control display_initial" type="text" ng-keypress="isNumberKey($event)" maxlength="12" minlength="10" name="contact_number2" placeholder="Please enter Contact" ng-model="data.contact_number2" autocomplete="false">
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-form-label">Vertical:</label>
                    <input class="form-control display_initial" type="text" name="vertical" placeholder="Please enter Vertical" ng-model="data.vertical" autocomplete="false">
                </div>
            </div>
            <div class="form-row clearfix">
                <div class="form-group col-sm-2" style="padding-left: 0;">
                    <label class="col-form-label">City <font color="red">*</font> :</label>
                    <select ng-model="data.city" ng-selected="data.city == city" ng-options="city for city in cities" class="form-control display_initial capitalizeText">
                    </select>
                    <!--<input class="form-control display_initial" type="text" name="city" placeholder="Enter City" ng-model="data.city" autocomplete="false" required>-->
                </div>
                <div class="form-group col-sm-2" style="padding-left: 0;">
                    <label class="col-form-label">Area <font color="red">*</font> :</label>
                    <input class="form-control display_initial" type="text" name="area" placeholder="Enter Area" ng-model="data.area" autocomplete="false" required>
                </div>
                <div class="form-group col-sm-2" style="padding-left: 0;">
                    <label class="col-form-label">Place <font color="red">*</font> :</label>
                    <input class="form-control display_initial" type="text" name="place" placeholder="Enter Place" ng-model="data.place" autocomplete="false" required>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-form-label">Start Date:</label>
                    <input type="text" class="form-control display_initial inputBox startDate" data-date-format="dd/mm/yyyy">
                    <input type="hidden" class="dateofstart" ng-model="data.startDate" name="startDate" >
                    <!--<input type="text" class="form-control display_initial inputBox dateofstart" ng-model="data.startDate" name="startDate" readonly>-->
                </div>
            </div>
            <div class="col-sm-2" style="padding: 0;">
                <button class="btn btn-primary" type="submit" style="margin: 0 auto;width: 100px;">Update</button>
            </div>
        </form>
    </div>
</div>

