<script>
    $('#usersidebar-wrapper').css({left: '250px'});
</script>
<style>
    .thumbs{
        background: transparent;
        padding: 0;
        font-size: 20px;
        border: none;
        margin-right: 10px;
    }
    .thumbs:hover{
        color: blue;
    }
</style>
<div class="">
    <div class="juniorHeader">
        <div class="row">
            <div class="">
                <h3 style="padding: 0 14px;font-weight: 600; margin-top: 10px;">Edit {{employeeUsername | uppercase}}'s Information</h3>
            </div>
        </div>
    </div>
    <hr style="margin-top: 0;"/>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" ng-click="showTab('profile')" aria-expanded="true"> Profile </a></li>
        <li><a data-toggle="tab" ng-click="showTab('mapeffort')" aria-expanded="true"> Map Effort </a></li>
        <li><a data-toggle="tab" ng-click="showTab('maptask')" aria-expanded="true"> Assign Client </a></li>
    </ul>
    <div class="tab-content onscreen">
        <div ng-show="tab['profile']">
            <div class="panel panel-primary filterable" >
                <div class="panel-heading" >
                    <h3 class="panel-title">{{employeeUsername | uppercase}}'s Information</h3>
                </div>
                <div class="">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="profileImageLogo"><i class="fa fa-user-circle"></i></div>
                        </div>
                        <div class="col-sm-12 col-md-8 col-lg-9" style="padding: 45px 0px 45px 30px;">
                            <div>
                                <form ng-submit="updateUser(data)">

                                    <label for="name">Name:</label>
                                    <input class="form-control manualwidth display_initial" id="name" type="text" name="name" placeholder="please enter name" ng-model="data.name" autocomplete="false">
                                    <br>

                                    <label>Email:</label>
                                    <input class="form-control manualwidth display_initial" type="email" name="email" placeholder="please enter email" ng-model="data.email" autocomplete="false">
                                    <br>

                                    <label>Username:</label>
                                    <input class="form-control manualwidth display_initial" type="text" name="username" placeholder="please enter username" ng-model="data.username" autocomplete="false">
                                    <br>

                                    <label>Designation:</label>
                                    <input class="form-control manualwidth display_initial" type="text" name="designation" placeholder="please enter designation" ng-model="data.designation" autocomplete="false">
                                    <br>

                                    <label>Weight./Day:</label>
                                    <input class="form-control manualwidth display_initial" type="text" name="weightageperday" placeholder="please enter weightage per day" ng-model="data.weightageperday" autocomplete="false">
                                    <br>

                                    <!--<label>Password:</label>-->
                                    <!--<input class="form-control manualwidth display_initial" type="password" name="password" placeholder="please enter password" ng-model="data.password" autocomplete="false">-->
                                    <!--<br>-->

                                    <label>User ID:</label>
                                    <input class="form-control manualwidth display_initial" type="text" name="userid" placeholder="please enter user id" ng-model="data.userid" autocomplete="false" readonly>
                                    <br>

                                    <label>Contact:</label>
                                    <input class="form-control manualwidth display_initial" type="number" maxlength="10" name="contact" placeholder="please enter contact" ng-model="data.contact" autocomplete="false">
                                    <br>

                                    <label>Gender:</label>
                                    <select ng-model="data.gender" class="form-control manualwidth display_initial" >
                                        <option value="male" selected="true">male</option>
                                        <option value="female">female</option>
                                    </select>
                                    <br />
                                    <br />
                                    <div style="margin: 0 auto;width: 100px;">
                                        <button class="btn btn-success" type="submit">Update</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="tab['mapeffort']">
            <div class="map-effort-form clearfix">
                <div class="">
                    <h3 style="font-weight: 600; margin-top: 10px;">Map Efforts For {{employeeUsername | uppercase}}</h3>
                </div>
                <hr />
            </div>
            <div class="panel panel-primary filterable" ng-show="gotMappedEfforts">
                <div class="panel-heading" >
                    <h3 class="panel-title">Efforts list</h3>
                </div>
                <table class="table"  id="analystTable2">
                    <thead>
                        <tr class="filters">
                            <th style="text-align: left">Effort</th>
                            <th>Weightage</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="effort in mappedeffortList">
                            <td style="text-align: left;text-transform: capitalize;">{{effort.effort}} </td>
                            <td>
                                <input type="text" class="effortCountInput" title="Edit & Hit enter to update!" id="effortInput-{{effort._id}}" ng-keypress="saveEffortCount($event, effort._id, effort.effort)" name="effortCount" value="{{effort.waitage}}" ng-readonly="effort.isMapped"/>
                            </td>
                            <td>
                                <button class="isCompletedButton" ng-click="mapEffortForUser(employeesUserId, effort._id, effort.effort, effort.waitage)">
                                    <i class="fa fa-check-square-o isActiveButtonCheck" ng-show="effort.isMapped" aria-hidden="true"></i>
                                    <i class="fa fa-window-close-o isActiveButtonCross" ng-show="effort.isMapped == false" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h1 ng-show="nodata">No Efforts</h1>
            </div>
        </div>
        <div ng-show="tab['maptask']" class="mapTaskAndCommentTab">
            <div class="">
                <h3 style="font-weight: 600; margin-top: 10px;">Map Clients for {{employeeUsername | uppercase}}</h3>
            </div>
            <hr />
            <table class="table"  id="analystTable3" ng-show="gotAllUsers">
                <thead>
                    <tr>
                        <td><input id="search-by-client" class="form-control" type="text" placeholder="By Client" ng-keyup="filterTable($event,0,'mapClientsTable')"></td>
                        <td><input id="search-by-org" class="form-control" type="text" placeholder="By Company" ng-keyup="filterTable($event,1,'mapClientsTable')"></td>
                    </tr>
                    <tr class="filters">
                        <th>Client Name</th>
                        <th>Organization</th>
                        <th>Assign</th>
                    </tr>
                </thead>
                <tbody id="mapClientsTable">
                    <tr ng-repeat="row in allClientsData" ng-if="row.isactive == true">
                        <td class="capitalizeText">{{row.clientname}} </td>
                        <td class="capitalizeText">{{row.orgname}} </td>
                        <td>
                            <button class="isCompletedButton" ng-click="toggleClientAssigner(employeesUserId, row._id)">
                                <i class="fa fa-check-square-o isActiveButtonCheck" ng-show="row.canHandleClient" aria-hidden="true"></i>
                                <i class="fa fa-window-close-o isActiveButtonCross" ng-show="row.canHandleClient == false" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h1 ng-show="nodata">No Juniors</h1>
        </div>
    </div>
</div>
