<script>
    $('#usersidebar-wrapper').css({left: '250px'});
</script>
<div class="">
    <div class="">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <h3 style="font-weight: 600; margin-top: 10px;">Employees</h3>
            </div>
        </div>
    </div>
    <hr>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" ng-click="showTab('active')" aria-expanded="true"> Active Employees </a></li>
        <li><a data-toggle="tab" ng-click="showTab('deactive')" aria-expanded="true"> Deactive Employees </a></li>
    </ul>
    <div class="tab-content onscreen">
        <div ng-show="tab['active']" class="mapTaskAndCommentTab">
            <div class="panel panel-primary filterable" >
                <table class="table" id="analystTable">
                    <thead>
                        <tr class="filters" style="color: #fff;background-color: #337ab7;border-color: #337ab7;">
                            <th ng-repeat="heading in juniorsheander" id="{{heading}}" class="">{{heading}}</th>
                            <th>Total Weightage</th>
                            <th>Active</th>
                            <th>Edit User</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="employees-table" ng-repeat="row in juniorsData" ng-if="row['isactive']">
                            <td ng-repeat="value in juniorskeys">{{row[value]}} </td>
                            <td>{{(row['totalWaitage'].length > 0) ? row['totalWaitage'][0].total : '--' }}</td>
                            <td>
                                <button class="isCompletedButton" ng-click="toggleActive(row['isactive'],row['userid'], row['juniors'].length)">
                                    <i class="fa fa-check-square-o isActiveButtonCheck" ng-show="row['isactive']" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td>
                                <a href="/crm/edituser/{{row['name']}}/{{row['userid']}}" class="btn btn-primary">Edit User</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h1 ng-show="nodata">No Juniors</h1>
            </div>
        </div>
        <div ng-show="tab['deactive']" class="mapTaskAndCommentTab">
            <div class="panel panel-primary filterable" >
                <table class="table" id="analystTable1">
                    <thead>
                        <tr class="filters" style="color: #fff;background-color: #337ab7;border-color: #337ab7;">
                            <th ng-repeat="heading in juniorsheander" id="{{heading}}-{{$index}}" class="">{{heading}}</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="employees-table" ng-repeat="row in juniorsData" ng-if="!row['isactive']">
                            <td ng-repeat="value in juniorskeys">{{row[value]}} </td>
                            <td>
                                <button class="isCompletedButton" ng-click="toggleActive(row['isactive'],row['userid'], row['juniors'].length)">
                                    <i class="fa fa-window-close-o isActiveButtonCross" ng-hide="row['isactive']" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h1 ng-show="nodata">No Deactive Employees</h1>
            </div>
        </div>
    </div>
    <br />
</div>

<div class="modal" ng-show="updateForm" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" id="closeUpdateForm" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Form</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

            </div>


        </div>
    </div>
</div>
