<script>
    $('#usersidebar-wrapper').css({left: '250px'});
</script>
<div class="">
    <div class="">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-10">
                <h3 style="font-weight: 600; margin-top: 10px;">Export Employee Followups</h3>
            </div>
        </div>
        <div class="add-effort-form clearfix">
            <form ng-submit="getClientFollowUp(data)" class="effort-form clearfix">
                <div class="form-row clearfix">
                    <div class="form-group col-sm-5" style="padding-left: 0;">
                        <label class="col-form-label">Date:</label>
                        <input type="text"  class="form-control display_initial inputBox followUpOfDate" data-date-format="mm/dd/yyyy">
                        <input type="hidden" ng-model="data.followUpOfDate" class="dateofstart" ng-model="data.followUpOfDate" name="followUpOfDate" >
                    </div>
                    <div class="form-group col-sm-5">
                        <label class="col-form-label">Employee <font color="red">*</font> :</label>
                        <select ng-model="data.userid" class="form-control display_initial capitalizeText">
                            <option ng-repeat="user in allUsers" value="{{user.userid}}">{{user.name}}</option>
                        </select>
                        <!--<input class="form-control display_initial" type="text" name="city" placeholder="Enter City" ng-model="data.city" autocomplete="false" required>-->
                    </div>
                    <div class="form-group col-sm-2" style="margin-top: 4px;">
                        <label class="col-form-label"></label>
                        <button class="btn btn-primary" type="submit" style="margin: 0 auto;width: 100px;">Get</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="panel panel-primary filterable">
        <div class="panel-heading" >
            <h3 class="panel-title">Follow Ups</h3>
            <div class="pull-right" style="width: 25%;">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown">
                            <div class="dropdown-toggle"  data-toggle="dropdown">Export To
                                <span class="caret"></span></div>
                            <ul class="dropdown-menu" >
                                <li ng-repeat="files in filetypes"><a ng-click="ExportTo(files,'userFollowupTable')" >{{files}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered" id="userFollowupTable">
            <thead>
            <tr>
                <td><input id="search-by-followedby" class="form-control" type="text" placeholder="By Followedby" ng-keyup="filterTable($event,0,'followupsInTabularForm')"></td>
                <td><input id="search-by-company" class="form-control" type="text" placeholder="By Company" ng-keyup="filterTable($event,1,'followupsInTabularForm')"></td>
                <td><input id="search-by-person" class="form-control" type="text" placeholder="By Person" ng-keyup="filterTable($event,2,'followupsInTabularForm')"></td>
                <td><input id="search-by-effort" class="form-control" type="text" placeholder="By Effort" ng-keyup="filterTable($event,3,'followupsInTabularForm')"></td>
                <td><input id="search-by-weightage" class="form-control" type="text" placeholder="By weightage" ng-keyup="filterTable($event,4,'followupsInTabularForm')"></td>
                <td><input id="search-by-date" class="form-control" type="text" placeholder="By Date" ng-keyup="filterTable($event,5,'followupsInTabularForm')"></td>
                <td><input id="search-by-remark" class="form-control" type="text" placeholder="By Remark" ng-keyup="filterTable($event,6,'followupsInTabularForm')"></td>
                <td><input id="search-by-status" class="form-control" type="text" placeholder="By Status" ng-keyup="filterTable($event,7,'followupsInTabularForm')"></td>
            </tr>
            <tr class="filters">
                <th>Followed By</th>
                <th>Company</th>
                <th>Person Name</th>
                <th>Effort Type</th>
                <th>Effort Weightage</th>
                <th>Date</th>
                <th>Remarks</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="followupsInTabularForm">
            <tr ng-repeat="row in followups">
                <td class="capitalizeText">{{ (row.followedby) ? row.followedby : "--"}}</td>
                <td class="capitalizeText">{{ row.organization_name }}</td>
                <td class="capitalizeText">{{ row.client_name }}</td>
                <td class="capitalizeText">{{ row.effort_type }}</td>
                <td class="capitalizeText">{{ (row.waitage) ? row.waitage : "--" }}</td>
                <td class="capitalizeText">{{ (row.date) ? row.date : '--' | date:"mediumDate" }}</td>
                <td class="capitalizeText">{{ row.remarks}}</td>
                <td class="capitalizeText">{{ row.status }}</td>
            </tr>
            </tbody>
        </table>
        <h1 ng-show="nodata">No Follow-Ups</h1>
    </div>
</div>