<script>
    $('#usersidebar-wrapper').css({left: '250px'});
</script>
<div class="">
    <div class="">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-10">
                <h3 style="font-weight: 600; margin-top: 10px;">Upload Clients CSV</h3>
            </div>
        </div>
    </div>
    <hr />
    <div class="add-effort-form clearfix">
        <form ng-submit="uploadCSVToDB(data)" name="uploadCSV" enctype="multipart/form-data" class="effort-form clearfix">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Upload:</label>
                <div class="col-sm-10">
                    <input class="form-control manualwidth display_initial" type="file" name="csvreport" ng-model="data.csvreport" accept="*/*"
                    onchange="angular.element(this).scope().fileNameChanged(this)">
                </div>
            </div>
            <div class="col-md-2" style="padding: 0;">
                <button class="btn btn-primary" type="submit" style="margin: 0 auto;width: 100px;">Upload</button>
            </div>
        </form>
    </div>
</div>