.notificationBox {
    position: fixed;
    top: 0px;
    left: 25%;
    right: 25%;
    width: 50%;
}
.formContainer{
    width: 60%;
    margin-left: 20%;
}
.headingPersonalInfo{
    font-weight: 600;
    margin-right: 15px;
}
.profileContainer{
    width: 80%;
    margin-left: 10%;
}
.inputBox{
    display: initial !important;
}
.profileImageLogo{
    font-size: 100px;
    text-align: center;
}
.navList :hover{
    color: #337ab7;
    transition: 0.3s;
}

.notificationTab{
    margin: 0 auto;
    padding: 5px 10px;
    width: 350px;
    border-radius: 7px;
    box-shadow: 2px 7px 6px #aaaaaa;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.notificationTabSuccess{
    background: green;
}

.notificationTabFailed{
    background: red;
}
.notificationContainer{
    position: fixed;
    top: 10px;
    z-index: 1031;
    left: 0;
    right: 0;
}


/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #337ab7;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* containerTimeline around content */
.containerTimeline {
    box-sizing: border-box;
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.containerTimeline::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: -12px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the containerTimeline to the left */
.leftTimeline {
    left: 0;
}

/* Place the containerTimeline to the right */
.rightTimeline {
    left: 50%;
}

/* Add arrows to the left containerTimeline (pointing right) */
.leftTimeline::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 17px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #337ab7;
}

/* Add arrows to the right containerTimeline (pointing left) */
.rightTimeline::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 17px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #337ab7 transparent transparent;
    /* background: #337ab7; */
}

/* Fix the circle for containerTimelines on the right side */
.rightTimeline::after {
    left: -12px;
}

/* The actual content */
.contentTimeline {
    box-sizing: border-box;
    padding: 8px 16px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    background: #337ab7;
    color: white;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containerTimelines */
    .containerTimeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .containerTimeline::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent #337ab7 transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .leftTimeline::after, .rightTimeline::after {
        left: 19px;
    }

    /* Make all right containerTimelines behave like the left ones */
    .rightTimeline {
        left: 0%;
    }
}
a{
    cursor: pointer !important;
}
.isCompletedButton{
    font-size: 15px;
    padding: 0;
    border: 0;
    background: transparent;
}
.taskName{
    padding: 0px 0px 0px 15px !important;
    font-size: 12px;
}
.taskDay{
    font-size: 20px;
}
.isActiveButtonCross{
    color: red;
}

.isActiveButtonCheck{
    color: green;
}
.manualwidth{
    width: 80%;
    margin-bottom: 10px;
}
.display_initial{
    display: initial;
}
.containerRegister{
    margin: 0 auto;
    width: 60%;
    min-width: 300px;
}