body{
    font-family: 'Roboto', sans-serif !important;
}
#forprint {
    display: none;
}
#reason{
    width: 80%;
    margin-left: 10%;
    padding: 10px;
}
#floatVideo{
    width: 100%;
}
th,td{
    text-align: left;
}
.progress-container{
    margin-top: 30px;
}
.wrapper-closed .sharetxt{
    width: 100%;
}
.progress-container h4 {
    font-size: 2.4em;
    font-family: 'NexaBold', sans-serif;
    color: #666666;
}
.callbacktimerinprogress-cont{
    position: fixed;
    bottom: 12px;
    padding: 0px;
    right: 50px;
    width: 10vw;
    height: 135px;
    background-color: #8BC53F;
    text-align: center;
    color: #fff;
    font-family: 'NexaBold', sans-serif;
    font-size: 01em;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25);
    overflow: hidden;
}
.mypatient th, td{
    font-weight: 400;
}
.testDataTables img {
    width: 10%;
}
.dataholder{
    display: inline-block;
    width: 100%;
}
.dataholder img{
    float: left;
    margin:10px;
}
.dataholder p{
    font-size: 20px;
    margin: 15px 0;
}
.basic{
    background: #45b29d;
}
.basic tbody td{
    color:#45b29d ;
}
.diabeties{
    background: #e27a3f;
}
.diabeties tbody td{
    color:#e27a3f ;
}
.Advance{
    background: #3f51b5;
}
.Advance tbody td{
    color:#3f51b5 ;
}
.Heart{
    background: #df4949;
}
.Heart tbody td{
    color:#df4949 ;
}
.Blood{
    background: #ff5722;
}
.Blood tbody td{
    color:#ff5722 ;
}
.Urine{
    background: #4caf50;
}
.Urine tbody td{
    color:#4caf50 ;
}
.printUrineData {
    background: #ffffff;
    margin-bottom: 15px;
    border: 1px solid #c6c5c4;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -5px 5px 10px #dcd8d8;
    min-height: 145px;
}
.basictestDataTables{
    border: 1px solid #c6c5c4;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -5px 5px 10px #dcd8d8;
}
.basictestDataTables table{
    margin: 0 !important;
}

.tableBox{
    background: #f4f3f3;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
}
.tableBox p{
    margin: 0;
    padding: 5px;
    background: white;
    font-weight: 500;
}
.readingData {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}
.header {
    position: relative;
    top: -1mm;
    width: 100%;
    /* padding: 0 5mm; */
    left: 0;
}

.urineTestReport {
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}
.printUrineData .testImg {
    width: 15%;
}
.urineRange {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background: #f4f3f3;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 10px;
}


.printUrineData .urineTestData {
    width: 65%;
    text-align: center;
    padding: 0 5px;
    float: right;
}
p.testTitle {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}
p.testData {
    font-size: 14px;
    font-weight: 500;
}
.testImg {
    float: left;
    width: 20%;
    padding: 29px;
}

.table td, .table th{
    background: none;
}

.hw_text p {
    margin: 0;
}



.reportcontent tr th{
    text-align: left !important;
}
.report-diagnosis .dignoseTitle {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}


.reportIcon img {
    position: relative;
    padding: 0;

}


p.testData {
    margin: 0;
}


.printUrineData .testImg {
    width: 56px;
    height: 56px;
    display: inline-block;
    padding: 0;
}
.urineHeader {
    display: inline-block;
    width: 100%;
    min-height: 65px;
}
.urineTestReport{
    color: #555;
}
.CardRange{
    display: inline-block;
    font-size: 1.2em;
    width: 100%;
    line-height: 45px;
}
.CardRange img {
    width: 45px;
}

table p
{
    margin:0;
}



.bprange table
{
    width: 140mm;
    margin:0;
}

.bprange p
{
    font-size: 4mm;
}

.bprange td
{
    background-color: #ececec;
}



.onc_icon > img {
    float: left;
}


.rangeContainer p {
    padding: 5px 0;
    border-radius: 3px;
    text-align: center;
}
.grey p {

    border-radius: 3px !important;
    display: inline-block;
    width: 100%;
    padding: 5px;
    background: #e3e3e3;
}

p.dataTitle {
    margin: 0px;
    font-size: 18px;
    padding: 0px 10px;
    color: #333;

}


.dataContainer {
    display: inline-block;
    width: 100%;
    padding: 2px;
    margin-bottom: 20px;
    border-radius: 3px;

}
.qrCode span{
    font-size: 16px;
    margin-top: 25px;
    display: inline-block;
}
.pull-left.printLogo {
    width: 30%;
    margin: 5px;
}


.rangeContainer tr {
    text-align: center;
}
.rangeContainer td{

    padding: 3px 0px;
}

.reportItem p{
    margin: 0;
}

.dataDetail span {
    font-size: 12px;
}

.footerImg img{
    width: 100%;
}

.rangeContainer table{
    border: 1px solid #ececec;
}



.left1_right_top td{
    line-height: 1;
    font-size:15px;
    background-color: #ececec;
}

.left1_right_top p{
    margin: 0px;
    font-weight: 400;
}



.left1_right_top_new td{
    line-height: 1;
    font-size:15px;
    background-color: #ececec;
}

.left1_right_top_new p{
    margin: 0px;
    font-weight: 400;
}

.onc_left1 h5
{
    text-align: center;
    background-color: #ececec;
    margin-top: 0px;
    margin-bottom: 4px;
}




.rating-meter span {
    margin: 0px 5px;
    color: #000;
}

.rating-meter img
{
    vertical-align: middle;
    height:8mm;
    width:8mm;
}

.action-buttons span{
    margin-right: 10px;
}
label {
    font-weight: 900;
    min-width: 85px;
}

.itemIcon img {
    width: 100%;
    padding: 5px 0;
}
.imgContainer {
    width: 25%;
    display: inline-block;
    padding: 5px;
    position: relative;
}
.testDataTables {
    border: 1px solid #c5c3c3;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -5px 5px 10px #dcd8d8;
}
.dataValue {
    background: white;
    padding: 10px;
    display: inline-block;
    width: 100%;
}
.dataIcon {
    width: 30%;
    float: left;
}
.testName {
    width: 70%;
    float: left;
}
.imgContainer img {
    width: 100%;
    border-radius: 5px;
}
.tab-pane:hover{
    overflow-y: visible;
}
.scannedReport{
    background: #e4e4e4;
}
.scannedReport .report-title{
    color: #3f3f3f !important;
}
.userDetailContainer{

    padding: 5px;
}

.userDes{
    background: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 2px;
}
.userDes p{
    color: black;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
}
.imgContainer:hover .viewImg{
    opacity: 1;
    transform: scale(.9);
}
.viewImg {
    position: absolute;
    background: rgba(0, 0, 0, 0.57);
    text-align: center;
    top: 0;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 20px;
    transition: .5s ease all;
    opacity: 0;
    transform: scale(1.2);
    left: 0;
}
.viewImg span {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 20px);
    color: #fff;
}

.playerContainer p {
    margin: 0;
    background: #5bc0de;
    color: #fff;
    padding: 0 6px;
}
.pauseBtnImage{
    display: none;
}
.durtaionProgress {
    margin-top: 10px;
}
.playerContainer {
    display: inline-block;
    background: #dcdcdc;
    box-shadow: 7px 10px 30px #c1c1c1;
    width: 100%;
    border-radius: 5px;
}

ul#home, ul#login {
    margin: 0 40px;
    overflow: auto;
    padding: 0;
    text-align: center;
}
ul#login{
    margin: 0 auto !important;
    width: 760px;
}
.menu-closed{
    left: 0px !important;
}
#sidebar-wrapper{
    left: 250px;
}
.wrapper-closed{
    padding-left:0px !important;
}
.user-view{
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    margin: 5px;
    width: 20%;
}
.panel-title .accordion-toggle{
    display: block;
    font-weight: 600;
}
.prescription-div:hover{
    overflow-y: visible;
}
.prescription-div{
    max-height: 400px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.radio-inline{
    margin-top: 10px !important;
    padding-left: 0 !important;
}
.tab-pane::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(255, 255, 255, 0);
}

.tab-pane::-webkit-scrollbar
{
    width: 4px;
    background-color:rgba(255, 255, 255, 0);
}
.tab-pane::-webkit-scrollbar-thumb
{
    background-color: #337ab7;
}
.prescription-div::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(255, 255, 255, 0);
}
.navigationArrow {
    position: absolute;
    background: rgba(0, 0, 0, 0.21);
    height: 100%;
    width: 75px;
    top: 0;
    font-size: 50px;
    padding: 30% 0;
    cursor: pointer;
    transition: .5s ease all;
}
.navigationArrow:hover {
    background: rgba(0, 0, 0, 0.40);
}
.thumbnailContainer{
    background: #ccc;
    border-radius: 5px;
    padding: 10px;
}
.imagesList{
    background: white;
    border-radius: 5px;
    padding: 10px;
}
.imagesList img{
    border-radius: 5px;
    width: 100%;
    box-shadow: 2px 4px 11px rgba(153, 153, 153, 0.7);
    transition: .2s ease all;
    cursor: pointer;
}
.imagesList img:hover {
    box-shadow: 5px 7px 11px rgba(153, 153, 153, 0.7);
}
.scannedimageViewer {
    display: inline-block;
    width: 100%;
    color: #fff;
    position: relative;
}
.prescription-div::-webkit-scrollbar
{
    width: 4px;
    background-color:rgba(255, 255, 255, 0);
}
.prescription-div::-webkit-scrollbar-thumb
{
    background-color: #337ab7;
}
.actions .details{
    padding: 5px !important;
}
.healthhistory-detail{
    position: relative;
    width: 100%;
    background: #f8f8f8;
    top: 0;
    min-height: 500px;
    border-radius: 3px;
}
.tab-pane{
    position: relative;
    overflow: hidden;
}
.report-docname{
    text-align: left;
}
.reportLabel{
    text-align: left;
    width: 35%;
    margin-left: 15px;
}
.tab-pane:hover{
    overflow-y: visible !important;
}

.panel-group:hover{
    overflow-y: visible !important;
}
#overlay, #overlay_img {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    -webkit-transition: opacity 4s ease-in-out;
    z-index: 1060;
}
#popup {
    padding: 20px;
    position: relative;
    background: #fff;
    display: inline-block;
    margin-top: 50px;
    border-radius: 3px;
    width: 65%;
}
#close {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
    width: 17px;
    background: red;
    text-align: center;
}
#overlay {
    display: none;
}
.notification-item strong{
    color: #ffffff;
    background: #337ab7;
    border-radius: 10px;
    padding: 0 10px;
}
.menu-btn{
    float: left;
    padding: 0 10px;
    position: relative;
    top: 5px;
    font-size: 25px;
    color: #787777;
    cursor: pointer;
}
.yolonavbar ul li{
    margin:0;
    float:left;
    text-align: center;
    padding: 10px;
    list-style-type: none;
    width:31.3%;
    margin: 1%

}
.notification .badge{
    position: relative;
    top: -12px;
    left: -10px;
    font-weight: 600;
    border-radius: 100%;
    background: rgba(61, 124, 219, 0.88);
    height: 25px;
    width: 25px;
    line-height: 20px;
    padding: 0;
    border: 3px solid #f8f8f8;

}
.yolonavbar ul li a {
    display: block;
    text-decoration: none;
    padding:37px 0;
    color: white;
    font-size: 20px;
    margin:0;
}
#login{
    padding: 90px;
}
ul#login li {
    padding: 0%;
    width: 44%;
}

footer {
    position: absolute;
    right:0;
    bottom:0;
}
button.btn.btn-default {
    border-radius:0;
}


.text_container{
    padding-top: 10px;
}
.img_container > img {
    height: 65px;
}
.bottom_div_container{
    width: 200px;
}
.home_container , .close_container{
    width: 100px;
    padding: 12px;
    float: left;
    font-size: 16px;
}
.btn-primary.home_container  {
    background-color: #0194D7;
}
.btn-success.close_container {
    background-color: #8CC63D;
}
footer a:hover{
    text-decoration: none;
}

.form-group {
    /*padding:10px*/
}




h2.scr4 {
    text-align: center;
    color:#0093D6;
}
p.otp {

}
.otp{
    margin:0px;
    padding-left:10px;
    color:red;
    font-size: 16px;
    font-weight: 600;
}
.buttons2{
    float: left;
    margin:6px;
    width:84px;
    height:60px;
    border-radius:5px;
    border:1px solid #CCC;
    background-color: #FFF;
}

.k3{
    overflow: auto;
    width: 288px;
    margin:0 auto;
}
.buttons2.ok{
    float:right;
    position:fixed;
    bottom:81px;
    right: 350px;
    width:  120px;
    height:110px;
    border:2px solid #CCC;
    border-radius: 7px
}
.key_back{
    background-image: url(images/back.png);
    background-repeat: no-repeat;
    background-position: center;
}
.key_shift{
    background-image: url(images/shift.png);
    background-repeat: no-repeat;
    background-position: center;
}

header.blue{
    background-color:#E4F3FA ;
    margin: 0;
    text-align: left;
}
h2.scr5 {
    text-align: center;
    color:#0093D6;
    margin: 0px 0;
    padding: 0;
}
.outer {
    height: 580px;
    padding: 20px 10px 10px 48px;
}
.disconnect
{
    height:50px;
    background-color:#EE1C25;
}
.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    color: grey;
    right: 10px;
    position: absolute;
    margin: 0 5px;
}
.basicReport table thead th{
    text-align: center;
    font-size: 14px !important;
}
.report_text.prescriptionTable thead th {
    text-align: left;
    font-size: 15px !important;
}
.report_text.prescriptionTable tbody td {
    text-align: left;
    font-size: 15px !important;
}
.report_text td {
    text-align: center;
}
.report_text p {
    text-align: center;
}





#report-container .panel {
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}
#report-container .panel-body{
    padding: 10px !important;
}
#report-container .report_text label{
    font-size: 14px;
}
.reportRange {
    display: inline-block;
    width: 100%;
    background: #eeeeee;
    padding: 5px;
}
.historyElement{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.view{
    display: none;
}
.reportLoader{
    display: none;
}
.historyItem {
    display: inline-block;
    width: 100%;
    background: #eeeeee;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.disconnect a{
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align:center;
    display:block;
    text-decoration: none;
    line-height: 47px;
    vertical-align: middle;
}

.measurevitals
{
    height:50px;
    background-color:#3b8dd6;
    border-radius:15px;
    margin-top: 7px;
    width: 88%;
}
.measurevitals a{
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align:center;
    display:block;
    text-decoration: none;
    line-height: 47px;
    vertical-align: middle;
}

.logo1{
    margin-top:10px;
    margin-left:10px
}
.online{
    overflow: auto;
    margin-bottom: 10px;
}


.scr5_text {
    /* float: left; */
    font-size: 1em;
}
.scr5_icon {
    float: left;
}
.right{
    float: right;
    margin-left:10px;
}
.volume{
    font-size: 25px;
    vertical-align: middle;
    color:#EE1C25;

}
.scr5_left{
    float: left;
}
.scr5_right{
    overflow: auto;
}
.scr5_right_top {
    background-color: #f8f8f8;
    border-radius: 10px;
    height: 165px;
    margin-left: 10px;
    margin-top: 49px;
    overflow: auto;
    padding-left: 0;
    padding-right: 0;
    width: 370px;
}

p.vital{
    font-weight: bolder;
    font-size: 15px;
    position: relative;
    display: table;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}
p.vital:after{
    border-top: 1px solid #ccc;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.83em;
    width: 35%;


}
p.vital:before{
    border-top: 1px solid #ccc;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.83em;
    width: 35%;
}

.scr5_row_elements{
    line-height: 28px;
    float: left;
    width:33.3%;
}
p.left.middle{
    margin-bottom: 0;
}
.scr5_right_middle {
    float: left;
    margin-bottom: 15px;
    margin-left: 23px;
    margin-top: 36px;
    width: 350px;
}
.scr5_right_bottom{
    float:right;
    width:100%;
    margin-top:60px
}

.scr5_right_button{
    border:2px solid #0093D6;
    border-radius:7px;
    width:250px;
    height: 50px;
    margin:0 auto
}
a.scr5_button{
    display: block;
    font-size:18px;
    line-height: 45px;
    color:#0194DA;
    text-decoration: none;

}
.scr5_button1{
    float:right;
    width:100%;
}
.scr5_button1.text-center{
    padding: 13px 0;
}
.scr5_right_button1.btn-primary1{
    background: url("images/background_strip.jpg") repeat-x scroll 0 0;
    border-radius: 8px;
    width:115px;
    height: 50px;
    margin:15px 0;
}
.scr5_right_button1.btn-primary1:hover,.btn-primary1:focus{
    background: url("images/background_strip_invert.jpg") repeat-x scroll 0 0;
    margin:15px 0;
}
a.scr5_button1{
    display: block;
    font-size:16px;
    color:white;
    text-decoration: none;
}
.scr5_button1 ul li.scr5{
    margin:0;
    padding:0;
    width: 115px;
    margin: 0 5px;
}
.scr5_button1 ul{
    margin: 0 auto;
    overflow: auto;
    padding: 0;
    width: 250px;
}
.scr5_icons{
    margin-left: 32px;
}
.border_bottom{
    border-bottom: 2px solid #ddd;
}
.line_height{
    line-height: 18px;
}
.headphones {
    color: #e6393d;
    margin: -5px 40px;
}
.glyphicon-headphones{
    font-size:40px;
    margin-top: 5px;
    display:inline;
    float:left;
}
.headtext {
    display: inline;
    float: left;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 20px;
}
.dr{
    margin-top: 6px;
}

.l-flexbox_flexcenter {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.l-flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.mediacall-controls {
    position: absolute;

    right: 0px;
    display: inline-block;
    top: 0px;
}

.streams video {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
    outline: 0;
    width:100%;
}
.videoTimer{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 2em;
    color: #fff;
    margin: 14px;
}
#remoteVideo
{
    height:500px;
    /*min-width:600px;*/

    text-align: center;
}

div#full-screen img{
    width: 100%;
}

.fullscreen #remoteVideo{
    position: fixed;
    height: 100%;
    width: 100%;
    border: none;

}

#full-screen{
    display: none;
}
.full-screen {
    position: absolute;
    width: 30px;
    right: 10px;
    bottom: 15px;
    z-index: 1;
    cursor: pointer;
    display: block !important;
    transition: .5s ease all;
}
.btn_mediacall:hover{
    background: rgba(0, 0, 0, 0.31);
}

.btn_mediacall {
    width: 60px;
    height: 50px;
    background: rgba(0, 0, 0, 0.57);
    border: 0;
    cursor: pointer;
    transition: opacity .1s ease-in-out;
    outline: 0 !important;
    float: left;
    font-size: 20px;
    color: #afafaf;
}

.btn-icon_mediacall {
    vertical-align: text-bottom;
}

.patientdetails {

    font-weight: 700;
    background: white;
    padding: 10px 0;
    border-radius: 5px;

}
.patientdetails span {
    font-weight: 400;
}.patientdetails label {
     margin: 0;
 }
.patientdetails p {
    margin: 0;
}
.imagetitle{

    font-size: 18px;
    font-weight: 500;
}

:focus {
    outline: none;
}
.row .admin{
    margin-right: 0;
    margin-left: 0;
}
.fullscreen{
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed !important;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
}
.fullscreen .mediacall-controls{
    margin: 10px;
}
.fullscreen .user-view{
    right: 10px !important;

}
.fullscreen .full-screen{
    right: 20px !important;
}
/*
    Sometimes the sub menus get too large for the page and prevent the menu from scrolling, limiting functionality
    A quick fix is to change .side-menu to

    -> position:absolute

    and uncomment the code below.
    You also need to uncomment

    -> <div class="absolute-wrapper"> </div> in the html file

    you also need to tweek the animation. Just uncomment the code in that section
    --------------------------------------------------------------------------------------------------------------------
    If you want to make it really neat i suggest you look into an alternative like http://areaaperta.com/nicescroll/
    This will allow the menu to say fixed on body scoll and scoll on the side bar if it get to large
*/
/*.absolute-wrapper{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}*/
.report-item {
    position: relative;
    height: 100%;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
}
.report-title {
    font-size: 18px;
    position: relative;
    text-align: left;
    font-weight: 600;
    z-index: 1;
    color: #ffffff;
    border-radius: 3px 3px 0 0;
    top: -2px;
;
}
.report-detail {
    position: relative;


}
.report_item {
    padding: 5px 0;
}
.report_text {
    text-align: left;
    background: #fff;
    /* margin-top: 6px; */
    border-radius: 3px;
    padding: 5px;
    margin-top: 10px;
}
.report_text table thead tr{
    text-align: center;
}
.report-detail label {
    margin: 0 !important;
    font-size: 15px;

}
.report-detail th {
    padding: 0 5px !important;
    font-size: 13px;
    text-align: center;
    color: #676767;
}
.report-detail td {
    text-align: center;
    /* padding: 0 5px !important; */
    font-size: 15px;
    color: #45b29d;
}

.rightside-menu {
    position: fixed;
    width: 600px;
    height: 100%;
    background-color: white;
    border-left: 1px solid #e7e7e7;
    border-radius: 5px;
    z-index: 9;
    right: -600px;
    overflow-y: auto;
    background: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/*.rightsidecontainer*/
/*{*/
/*margin-left:0px;*/

/*}*/

.table-bordered>thead>tr>td
{
    vertical-align: middle;
    font-weight: bold;
}

nav>li>a:hover {
    color: #3b8dd6;
}

.circle {
    width: 150px;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
}

.circle canvas {
    vertical-align: top;
}

.circle strong {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 45px;
    color: #0093D6;
}

.circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}

.circle span {
    display: block;
    color: #aaa;
    margin-top: 12px;
}

.bluebar {
    width:68%;
    height:1em;
    border-bottom: solid 3px #5FB0E4;
    position: absolute;
    margin-top: 2.4em;
    margin-left: 7em;
    z-index: -1;
}
.prescription-top
{
    max-height: 30em;
}
.prescription{

}
.healthhistoryprescriptionarea th
{
    text-align:left !important;
}
.healthhistoryprescriptionarea td
{
    text-align:left 	 !important;
}

.prescription table
{
    margin:0;
}

.prescription .radio-control {
    width: 14%;
    margin-left: 5.4em;
}
.prescription .form-control:focus {
    box-shadow: none;
    overflow-y:scroll;
}

.prescription .form-group {
    padding:0px;
    margin-bottom: 10px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.btn-remove {
    border-radius: 0.3em;
}

.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}


.prescriptionfooter button
{
    font-size:1.5em;
    padding-left:15px;
    padding-right:15px;
    margin-top: 8px;
}



.switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 140px;
    height: 20px;
    padding: 3px;
    background-color: white;
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
    background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
    background-image: -o-linear-gradient(top, #eeeeee, white 25px);
    background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background;
}
.switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}
.switch-input:checked ~ .switch-label {
    background: #0093D6;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}

.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
    background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}
.switch-handle:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: #f9f9f9;
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    background-image: -webkit-linear-gradient(top, #eeeeee, white);
    background-image: -moz-linear-gradient(top, #eeeeee, white);
    background-image: -o-linear-gradient(top, #eeeeee, white);
    background-image: linear-gradient(to bottom, #eeeeee, white);
}
.switch-input:checked ~ .switch-handle {
    left: 119px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green > .switch-input:checked ~ .switch-label {
    background: #4fb845;
}

.stethoscopemicroscope
{
    text-align: center;
    /*margin-right: 35px;*/
}
.green{
    color:#4fb845;
}
.red{
    color:#c9302c;
}
.dataList {
    padding: 5px;
    border: 1px solid #cccccc;
    border-bottom: none;
}

.dataList p {
    line-height: 16px;
    font-size: 12px;
    word-break: break-word;
    /* border-bottom: 1px solid #9E9E9E; */
    margin-bottom: 0;
}
.display_box {
    padding: 9px;
    border-bottom:  solid 1px #dedede;
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    cursor:pointer;
}
#medicinelist, #investigationlist{
    display: block;
    width: 300px;
    position: relative;
    top: 10px;
    border: solid 1px #dedede;
    border-radius: 5px;
    right: 0px;

}
.display_box p {
    line-height: 16px;
    margin-bottom: 0;
}
.medicinesuggestion {
    z-index: 999;
    position: absolute;
    margin-top: -1px;
    overflow: hidden;
    width: 88%;
    background:#F5F5F5
}


/* comments css*/
.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
    border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}
.panel-white  .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.post .post-heading {
    display: inline-block;
    width: 100%;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
.readingData .row .col-md-4{
    margin-bottom: 20px;
}
.commentTime{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px;
    color: #777;
}
.tab-content{
    padding: 10px;
    border: 1px solid #dddddd;
    border-top: none;
    display: inline-block;width: 100%;

}
.nav-tabs>li{
    font-weight: 600;
}
.volumeSlider {
    position: absolute;
    right: 5px;
    top: 60px;
}
.volumeSlider .slider-track{
    height: 5px !important;
    width: 100%;
    margin-top: -7px !important;
    top: 50%;
    left: 0;
}
.volumeSlider .slider-handle{
    width: 10px;
    height: 10px;
}
.volumeSlider .slider-tick{
    width: 10px;
    height: 10px;
}
.volumeSlider .slider.slider-horizontal{
    width: 155px !important;
    height: 20px !important;
}
.volumeSlider .slider.slider-horizontal .slider-tick-label-container{
    margin-top: 10px !important;
    margin-left: -26.375px !important;
}
.volumeSlider .slider-tick-label{
    color:#fff;
}
.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}
.post .post-heading .meta .title {
    margin-bottom: 0;
}
.post .post-heading .meta .title a {
    color: black;
}
.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}
.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}
.post .post-image .image {
    width: 100%;
    height: auto;
}
.post .post-description {
    padding: 15px;
}
.post .post-description p {
    font-size: 14px;
}
.post .post-description .stats {
    margin-top: 20px;
}
.post .post-description .stats .stat-item {
    display: inline-block;
    margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
    margin-right: 8px;
}
.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}
.post .post-footer .input-group-addon a {
    color: #454545;
}
.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}
.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
    margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
    margin-left: 50px;
}


/* For Post comments on Report in Doctor-ecgReporting panel*/
.widget-area.blank {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
body .no-padding {
    padding: 0;
}
.widget-area {
    border-radius: 4px;
    position: relative;
    width: 100%;
}
.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}
.status-upload form {
    /*float: left;*/
    width: 100%;
    padding: 10px;
}
.status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 110px;
    letter-spacing: 0.3px;
    padding: 15px;
    width: 100%;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
}

.status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 5px;
    width: auto;
}
.status-upload ul > li {
    float: left;
}
.status-upload ul > li > a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
}
.status-upload ul > li > a:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff;
}
.status-upload form button {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.3px;
    /*margin-right: 9px;*/
    margin-top: 9px;
    padding: 6px 15px;
}
.dropdown > a > span.green:before {
    border-left-color: #2dcb73;
}
.status-upload form button > i {
    margin-right: 7px;
}

.postcomments{
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.comments{
    margin-top: 12px;
}

/* Offline Consult Styles ~AA*/

.unmapped-wrapper{
    padding-top: 20px !important;
    padding-left: 5px !important;
    transition: 1s ease all;
}

.unmapped-container{
    border:1px solid rgb(224, 224, 224);
    border-radius:5px;
    padding:0px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    transition: 0.4s ease all;
}

.unmapped-container:hover{
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);
    border:1px solid rgba(0, 133, 250, 0.4);
}

.unmapped-container .video-box{
    margin:0px;
}

.video-box i{
    position: absolute;
}

.actions{
    margin-top: 0px;
}

.actions .details{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #9b9b9b;
}

/* -------------- */
.buttons-cont .selected{
    background-color: #000;
}

.dropdown-menu::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.dropdown-menu::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

.dropdown-menu::-webkit-scrollbar-thumb
{
    background-color: #337ab7;
    border: 2px solid #337ab7;
}
.stickie {
    background: #ffffa2;
    position: relative;
    vertical-align: top;
    display: block;
    font-family: "McLaren",sans-serif;
    overflow: visible;
    padding: 24px 18px;
    word-wrap: break-word;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 10px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.1) inset;
}

/*range sldier*/
.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 3px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #3492d6;
    cursor: pointer;
    transition: background .15s ease-in-out;
}
.range-slider {
    display: inline-block;
    width: 100%;
    left: 0;
    color: #fff;
    position: relative;
    top: 22px;
    min-height: 20px;
}
.range_container {
    width: 90%;
    float: left;
}
.rangevalueContainer {
    float: left;
    width: 10%;
    position: relative;
    top: -9px;

    color: #666;
}


::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}
.AudioHeader{
    display: inline-block;
    width: 100%;
}
.playButton img{
    width: 40px;
    border-radius: 50%;
    padding: 2px;
    background: #6d6d6d;
}
.playAction {
    width: 10%;
    float: left;
}
.player {
    float: left;
    width: 90%;
}

ul.unstyled.list-unstyled li {
    list-style: none;
    width: 25%;
    display: inline-block;
    border-radius: 5px;
    min-height: 30px;
}
.cal-slide-content a.event-item{
    outline: none;
    text-decoration: none;
}
.pull-left.event{
    display: none;
}
a.event-item {
    width: 100%;
    padding: 0 10px;
    display: inline-block;
}
.cal-slide-content.cal-event-list{

    padding:  0;
}
.historyBtngroup .btn{

    margin-bottom: 10px;
}
.event-item p {
    margin: 0;
    display: inline-block;
    width: 100%;
    background: #5cb85c;
    padding: 10px;
}
.event-item span.pull-right {
    background: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    color: #5a5959;
    font-weight: 700;
}
/* Reset */
body{

}
html,body { height:100%; }
@media (max-width: 480px) {
    body {
        font-size: 10px;

    }



    .hidden-phone {
        display: block;
    }
}

#loading-bar-spinner .spinner-icon {
    margin-left: 230px !important;
    margin-top: 15px !important;
}


@media (max-width: 767px) {

    /* xs */
    .text-xs-left { text-align: left; }
    .text-xs-center { text-align: center; }
    .xs-no-padding {padding-left: 0px;}
    .xs-text-right{text-align: right;}
    .text-xs-right{ text-align: right;}
    .float-xs-right{ float: right;}
    .float-xs-left{ float: left;}
    .float-xs-none{ float: none}
}
@media (min-width: 768px) and (max-width: 991px) {
    /* sm */
    .text-sm-left { text-align: left;}
    .text-sm-center { text-align: center;}
    .sm-no-padding {padding-left: 0px;}
    .sm-text-right{ text-align: right;}
    .text-sm-right{ text-align: right;}
    .float-sm-right{ float: right;}
    .float-sm-left{ float: left;}
    .float-sm-none{ float: none}
}
@media (min-width: 992px) and (max-width: 1199px) {
    /* md */
    .text-md-left { text-align: left; }
    .text-md-center { text-align: center;}
    .md-padding-left {padding-left: 200px;}
    .md-padding-left-250 {padding-left: 250px;}/*for sidebar*/
    .md-text-center{text-align: center;}
    .md-padding-top{padding-top: 1em}
    .float-md-right{ float: right;}
    .float-md-left{ float: left;}
    .float-md-none{ float: none}
}
@media (min-width: 1200px) {
    /* lg */
    .text-lg-left { text-align: left; }
    .text-lg-center {text-align: center}
    .lg-padding-left {padding-left: 200px;}
    .lg-padding-left-250 {padding-left: 250px;}/*for sidebar*/
    .lg-padding-top{padding-top: 1em}
    .float-lg-right{ float: right;}
    .float-lg-left{ float: left;}
    .float-lg-none{ float: none}
}



.navbar-yolo {
    background-color: #ffffff;
    border-bottom-color: #444444;
    /* min-height: 90px; */
    border-bottom: rgb(205, 205, 205) solid 1px;
    background-color: white;
    /* position: fixed; */
    width: 100%;
    /* opacity: 1; */
    position: fixed;
    z-index: 2;
    top: 0;
}


.ul-login
{
    display: inline-block;
    font: 1em "Comfortaa",cursive;

}

.login-button
{
    border-radius: 18px;
    font-size: larger;
    margin-left: 5px;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/ofcbackgrndnew.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    /*vertical-align: middle;*/
    padding-top: 65px;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.slogan
{
    /* margin-top:50px;
     text-align: center;
     color: #3b8dc6;
     font: 3em 'Raleway', sans-serif;
     margin-bottom: 40px;*/
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}



.slogan span{
    color: #9cd8e9;
    display: block;
}

#yolo-slider h2
{
    margin: 40px 0 25px;
    text-align: center;
    font: bold 28px/32px "Comfortaa",cursive;

}

#yolo-slider h3
{
    margin: 0 0 25px;
    color: #5d6471;
    text-align: center;
    font-family:  'Raleway', sans-serif;

}

.explore-more-btn{
    margin-top: 40px;

    font: 14px/32px "Comfortaa",cursive;
    border-radius: 0;
    display: block;
    padding: 10px;
    font-size: larger;
}

#yolo-slider .carousel-controls
{
    margin-top: 20px;
    text-align: center;

}

#about-us h1
{
    font: 2.5em "Montserrat", sans-serif;
    margin-top:30px;
    margin-bottom: 10px;
    color:#3B8DC6;
}

.heading-separator
{
    text-align: center;
    height:2px;
    /*background-color: #337ab7;*/
    background-color: #eee;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#about-us p{

    color: #5d6471;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    line-height: 1.7em;
    margin-bottom: 30px;
}
#contact-us h1
{
    font: 2.5em "Montserrat", sans-serif;
    margin-top:20px;
    margin-bottom: 10px;
    color:#3B8DC6;
}

#contact-us
{
    text-align: center;
    padding: 10px 0px;
}


#contact-us  label
{
    font-size: 1.8em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-us-form
{
    text-align: left;
    font-size: large;

}
.contact-us-form div,textarea{
    margin: 10px;
}
.contact-us-form input
{
    height: 38px;
}

.contact-us-form button
{

    width: 20%;
    font: 14px/32px "Comfortaa",cursive;
    border-radius: 0;
    display: block;
    padding: 0.2em;
    font-size: 1em;
    margin: auto;
    border-radius: 5px;
    background-color: #3b8dd6;
}

#conatctus-thankyou
{
    margin: auto;
    font-size: 2em;
    padding: 30px;
    background-color: grey;
    color: #337ab7 ;

}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 40px;
}
.left-inner-addon select {
    padding-left: 37px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 40px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
/*
.bottom{
    margin-top: 40px;
    width: 100%;
    height: 20px;
    background:#337ab7 ;
    color: white;
    text-align: center;
}*/

/*8888888888888888888888homec care8888888888888888888*/
.explorehomecare h1
{
    margin:20px;
}
.explorehomecare h2
{
    font: 2em  "Comfortaa",cursive;
    font-weight: bold;
}
.explorehomecare .heading
{
    margin: 40px;
    color: #3b8dc6;
}
.explorehomecare h3
{
    font-size: 1.5em ;
}

.box{
    display:inline-block;
    vertical-align:top;
    width:194px;
    height: 260px;
    padding:37px 20px 25px;
    margin:0 2px 11px 0;
    background:#eeeef3;
    border-radius:5px;
    border: #d9d9d9 solid 1px;
    -webkit-border-radius:5px
}

.box .img-holder{
    height:150px;
    margin:0 0 7px;
    text-align:center
}

.box .img-holder img{
    vertical-align:top
}

.box .heading{
    display:block;
    font-size:20px;
    font-weight:bold;
    line-height:24px
}

#homecare_phone
{
    margin: 20px 0 20px 15px;
    color: #5d6471;

    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}

/*===Slider CSS===*/
/*=== How it works Section ==*/


.carousel-indicators li{
    width: auto;
    height: inherit;
    text-indent: 0;
    border: none;
}


.carousel-indicators .active{
    width: auto;
    height: inherit;
    text-indent: 0;
    border: none;
    background-color: transparent;
}

.carousel-indicators li.active a {
    background: #3b8dc6;
    color: #fff;
}

.carousel-indicators li a:hover {
    color: #3b8dc6;
    text-decoration: none;
}

.carousel-indicators li.active a:hover {
    color: #fff;
    text-decoration: none;
}

.carousel-indicators li a {
    display: block;
    color: #bdc3c7;
    padding: 15px 38px 15px 15px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
}


.carousel-indicators .active .slide-category{
    display:inline-block
}

.slide-category
{

    font-size: 1.5em;
}

.slide-number {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0 0;
    width: 24px;
    height: 24px;
    text-align: center;
    font: bold 16px/26px "Comfortaa",cursive;
    border: 4px solid #bdc3c7;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}

.homecare_howitworks h1
{
    font: 2.5em  "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}

.howitworks-content
{
    margin-top: 50px;
    text-align: left;

    font: normal 1.5em/1em  'Raleway', sans-serif;
}

.howitworks-content li{
    margin-top: 40px;
}

.howitworks-content ul span{
    font-size: 0.8em;
    margin-top: 10px;
    display: block;
}

#comingsoonmodal
{
    font:inherit;
}

#comingsoonmodal .modal-header
{
    color:white;
    background: #4AA3E0;
    font: bold 16px/26px "Comfortaa",cursive;

}


#coming-soon-email{
    background: #fff;
    width: 330px;
    border-left: 2px solid #e7e7e7;
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    font-family: 'Raleway', sans-serif;
    border-right: none;
    font-size: 16px;
    font-weight: 600;
    color: #999999;
    padding: 10px 10px 10px 10px;
}

#coming-soon-apply{
    width: 208px;
    background: #3b8dd6;
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 12px 0;

    color: #fff;
    cursor: pointer;
}


#coming-soon-apply:hover{
    background: #286090;
}

#registermodal
{
    font:inherit;
}

#registermodal .modal-header
{
    color:white;
    background: #4AA3E0;
    font: bold 16px/26px "Comfortaa",cursive;
}


#registermodal .download-button{
    margin: 30px;
    text-align: center;
    width:40%;

}


#registermodal .heading
{
    color: #337ab7;
}

.register-text-color{
    color: #5D6471;
}

/*--- career-*/
.heading
{
    margin-top: 30px;
    color: #3b8dd6;
    text-align: center;

}
.career-list{

    color: rgb(93, 100, 113);
    font-size: 25px;
    margin: auto;
    text-align: left;
}

.career-email{
    background: #fff;
    width: 330px;
    border-left: 2px solid #e7e7e7;
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    font-family: 'Raleway', sans-serif;
    border-right: none;
    font-size: 16px;
    font-weight: 600;
    color: #999999;
    padding: 10px 10px 10px 10px;
}

.career-apply{
    width: 208px;
    background: #3b8dd6;
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 12px 0;

    color: #fff;
    cursor: pointer;
}


.career-apply:hover{
    background: #286090;
}


/*Bookdoctor*/
.avltime > div
{
    margin:0px;
    padding: 0px;
}

.hov a:hover
{
    text-decoration: none;
}
.docproimg img
{
    width:200px;
}

.slotbooked{
    font-weight: 800;
    color: #9B9D9E;
}

.slotavailable{
    font-weight: 800;
    color: #0093D6;
    cursor: pointer;
}

/* sections and  btn */
section{
    padding: 75px 0px;
    position: relative;
}

footer .footer-below{
    padding: 25px 0px;
}
.primary-bg {
    background-color: #3b8dc6;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #3b8dc6;
    background: #fff;
}


/* doctor category css*/
.user-details {
    position: relative;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    padding: 5px;
}
.user-details .user-image {    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
}
.user-image img { position: relative;
    width: 60px;
    height: 60px;
    border-radius: 05px;}
.user-details .user-info-block {      width: 100%;
    position: relative;
    background: rgb(255, 255, 255);
    position: relative;
    text-align: center;
;}
.user-info-block .user-heading {
    clear: both;
    margin: auto;
    position: relative;
    text-align: center !important;
}


.user-button{float: left; width: 100%; margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #428BCA; border-top: 1px solid #428BCA;}
.user-info-block .navigation {float: left; width: 100%; margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #428BCA; border-top: 1px solid #428BCA;}
.user-info-block .user-body {float: left; padding: 5%; width: 90%;}
.user-body .tab-content > div {float: left; width: 100%;}
.user-body .tab-content h4 {width: 100%; margin: 10px 0; color: #333;}

.doclistqualificationtext{
    margin: 0;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    min-height: 16px;
    padding: 0 35px
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1031;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #FCFCFC;

    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.response-section{
    padding-top: 40px;
}

.navbar-toggle .icon-bar{
    background: black;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    margin: 0;
    border-bottom: 1px solid #b5b5b5;
    border-radius: 0;
    width: 100%;
}

.panel a i {
    margin-right: 12px;
}


.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
    font-weight: 400;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #4787BE;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1031;
    position: fixed;
    top: 0;
    left: 0;

}

#sidebar-wrapper.active {
    left: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 0px 0 5px;
}

/* custom buttons */
.hover-item{
    color: #777;
    font-weight: 700;
}

.hover-item:hover,
.hover-item:focus,
.hover-item:active {
    color: #fff !important;
    ont-weight: 700;
    background-color: rgba(59,141,214,0.8) !important;
}

.hover-item-side{
    color: #777;
    font-size: 14px;
    font-weight: 600;
}

.hover-item-side:hover,
.hover-item-side:focus,
.hover-item-side:active {
    color: #337ab7 !important;
}

.side-title {
    font-size: 16px;
    font-weight: 700;
    color: #777 !important;
}
/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    margin-right: 7px;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-dark-blue {
    border-radius: 0;
    color: #fff !important;
    margin-right: 5px;
    font-weight: 600;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark-blue:hover,
.btn-dark-blue:focus,
.btn-dark-blue:active {
    color: #fff !important;
    background-color: rgba(59,141,214,0.7) !important;
}

/* for */
.sectionfor{
    padding-top: 50px;
    padding-bottom: 24px;
}

.sectionfor h1{
    font-size: 2.375em;
    font-weight: 400;
    color: #3b8dc6;
}

.sectionfor p{
    olor: #5d6471;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    line-height: 1.7em;
    margin-bottom: 30px;
}
.headingfor{
    padding-bottom: 10px;
    padding-top: 70px;
}
.headingfor p {

    color: #5d6471;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    line-height: 1.7em;
    margin-bottom: 30px;
}

.page-heading {
    margin: 0;
    text-align: center;
    font-size: 2.5em;
    font-weight: normal;
    color: #3b8dc6;

}

/* The container <div> - needed to position the dropdown content */
.dropdo {
    position: relative;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    margin-top: 16px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #777;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.img-25 {
    width: 25px;
    height: 25px;
}

.img-30 {
    width: 30px;
}

.img-50 {
    width: 50px;
    height: 50px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdo:hover .dropdown-content {
    display: block;
    text-decoration: none;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdo:hover .dropbtn {
    background-color:  #63A3DC;
    color: #FFF!important;
}

/* css for the health history n notes tabs */
.nav-center {
    text-align: center;
}
.nav-center >  ul.nav {
    display: inline-block;
}
.nav-center >  ul.nav >li {
    display: inline;
}
.nav-center >  ul.nav >li> a{
    float: left;
}

.notes{
    border: solid 1px #006dcc;
    padding-left: 4%;
    padding-right: 4%;
    font-family: FontAwesome;
}

.profile-text{
    padding-bottom: 1%;
    text-align: center;
    font-family: FontAwesome;
}
.profile-text-name{
    font-family: FontAwesome;
    border-bottom: solid #63A3DC;
}

/* Overlay Text Image*/
.image-overlay-text {
    position: relative;
    /*width: 100%; /!* for IE 6 *!/*/
}

.image-overlay-text > h3 {
    position: absolute;
    bottom: 0px;
    left: 5px;
    width: 100%;
    padding: 15px;

}
.image-overlay-text > h3 > a{
    color: #fff;
}


/*login pages */

.loginoverlay {
    background: linear-gradient(45deg, rgba(118, 184, 82, 0.45), rgba(29, 161, 242, 0.6)) !important;
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 100%;
}


.loginContainer {
    background: rgba(0, 0, 0, 0.42);
    position: relative;
    border-radius: 7px;
}
.loginHeader {
    color: #ffffff;
    display: inline-block;
    width: 100%;
    background: rgba(0, 0, 0, 0.14);
    padding: 10px;
}
.loginHeader h3{
    margin: 0;
    font-weight: 400;
}
.loginHeader h4{
    font-weight: 400;
}
.login-form-container {
    padding-top: 100px;
    width: 40%;
    margin: 0 auto;
}
@media screen and (max-width: 900px){
    .login-form-container {
        width: 65%;
        padding-top: 75px;
    }
    .extraoption span{
        font-size: 15px;
    }
}

@media screen and (max-width: 720px){
    .login-form-container {
        width: 85%;
        padding-top: 85px;
    }
}
.fields-container {
    margin-top: 0px;
    padding: 30px;
    color: white;
}
.loginContainer input {
    height: 50px;
    border-radius: 0;
    font-size: 16px;
    border: none;
}
.extraoption{
    color: #fff;
    margin-top: 8px;
}
.extraoption span{
    cursor: pointer;
}


/*closed login pages*/
.form-container .yolo-heart{
    border-radius: 100%;
    background-color: #fff;
    width: 80px;
    height: 80px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    position: absolute;
    top: -40px;
    margin-left: 210px;
    border: 1px solid #D6D6D6;
    text-align: center;
    padding: 15px;
}

.form-control-feedback{
    line-height: 45px;
}

.notif_Card{
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(108, 108, 108, 0.3);
    background: rgba(222, 220, 220, 0.49);
    border-radius: 5px;
    cursor: pointer;
    transition: .5s ease all;
}
.notif_Card:hover {
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.18);
}
.notif_Card a{
    text-decoration: none;
    color: #4f4f4f;
    font-size: 13px;
}
.notif_Card a strong{
    text-transform: capitalize;
}
.noti_pic {
    width: 10%;
    display: inline-block;
    margin-right: 2%;
}
.noti_pic img{
    width: 100%;
    border-radius: 50%;
}
.show_more{
    border: none;
    color: #fff;
    background: #76d44b;
    font-weight: 600;
    margin-bottom: 0;
}
li.notification-item {
    padding: 2%;
    border-bottom: 1px solid rgba(127, 127, 127, 0.26);
}
li.notification-item a {
    color: #7f7f7f;
    text-decoration: none;
}
li.notification-item:hover {
    background: #f8f8f8;
}
.view_more_li{
    border: none !important;
    background: #f8f8f8;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    transition: .5s ease all;
}
.view_more_li a{
    margin: 0;
    color: #008ad6 !important;
    font-weight: 600;
    letter-spacing: 1px;
}
li.notification-item.view_more_li:hover {
    background: #efeeee;
}
.mosquito {
    background-image: url("../icon/mosquito.png");
    height: 42px;
    background-size: contain;
    background-repeat: no-repeat;

}
.thermometer {
    background-image: url("../icon/thermometer.png");
    height: 42px;
    background-size: contain;
    background-repeat: no-repeat;

}
.pregnancy {
    background-image: url("../icon/pregnancy-icon-white.png");
    height: 42px;
    background-size: contain;
    background-repeat: no-repeat;

}
.ent {
    background-image: url("../icon/enttest-icon-white.png");
    height: 42px;
    background-size: contain;
    background-repeat: no-repeat;

}
.intl-tel-input .flag-container {

    z-index: 9;
}





/*new report*/


/*new report css*/
#forprint {
    display: none;
}
.onscreen .dataTableContainer {
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.onscreen .tableHead {
    display: inline-block;
    padding: 5px;
    padding-right: 70px;
    background: #e4e4e4;
    position: relative;
    bottom: 0px;
    border-radius: 0px 54px 0 0px;
    color: #8c8686;
    font-weight: 500;
    text-transform: uppercase;
}
.onscreen .tableDiv {
    display: inline-block;
    width: 100%;
    border-radius: 0px 10px 10px 10px;
    border: 1px solid #e2dada;
}
.onscreen .tableDiv .dataRow:first-child {
    border-radius: 0px 7px 0px 0px !important;
}

.onscreen .dataRow {
    padding: 17px 5px;
    width: 100%;

    color: #737373;
    border-bottom: 1px solid #cecdcd73;
}
.dataCell:first-child {
    text-transform: capitalize;
}
.onscreen .dataCell {
    display: inline-block;
}
.onscreen .dataCell p {
    margin: 0;
    font-size: 1.2em;
}

.rangeBox:first-child .rangeColor{
    border-radius:20px 0px 0px  20px;
}
.rangeBox:last-child .rangeColor{
    border-radius:0px 20px 20px  0px;
}

.onscreen .rangeBox {
    text-align: center;
    float: left;
    height: 25px;
}
.onscreen .rangeColor.red {
    background: #bd360bba;
    color: #fff;
}
.onscreen .rangeColor.green {
    background: #7aad3ea8;
}.onscreen .rangeColor.orange {
     background: #f79504bd;
 }
.onscreen .rangeColor.blue {
    background: #2196f3ab;
}
.onscreen .rangeColor.brown {
    background: #a75e48ad;
}


.onscreen .rangeColor {
    color: #fff;
    font-size: 10px;
    padding: 5px 0;
    border-left: 1px;
    letter-spacing: 2px;
    border-left: 1px;
    text-transform: uppercase;
    font-weight: 400;
}

.rangeBox4 .rangeBox{
    width: 25%;
}
.rangeBox3 .rangeBox{
    width: 33.33%;
}
.rangeBox2 .rangeBox{
    width: 50%;
}
.rangeBox5 .rangeBox{
    width: 20%;
}
/* styles for school service page */
.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.col-50{
    width: 50%;
}
.flex-h4-box {
    visibility: visible;
    -webkit-animation-duration: 1500ms;
    -moz-animation-duration: 1500ms;
    animation-duration: 1500ms;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin: 0;
}
.container-full-height{
    padding-bottom: 4.5%;
}
.yhForSchool,.ys-benefits-heading{
    color: #0093d2;
    font-weight: 400;
    font-family: Lato,sans-serif;
    font-size: 45px;
    margin-top: 0;
    visibility: visible;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.yhForSchool-Desc{
    font-size: 18px;
    font-family: Lato,sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    color: #747474;
    text-align: justify;
}
.imghealthMachine{
    width: 60%;
}
.sideImgAnime{
    visibility: visible;
    -webkit-animation-duration: 1700ms;
    -moz-animation-duration: 1700ms;
    animation-duration: 1700ms;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
.ys-service-offerings {
    /*background: linear-gradient(135deg,#68c3abb8,#12bcc48f);*/
    background: linear-gradient(135deg,#76b85296,#12bcc494);
    /*background: linear-gradient(45deg, rgba(118, 184, 82, 0.65), rgb(29, 161, 242));*/
    color: white;
    margin-top: 30px;
    padding-top: 30px;
}
.offerings-container{
    margin: 0 auto;
    padding: 25px 0;
}
.ys-offering-heading{
    visibility: visible;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
    color: #fff;
    font-size: 45px;
}
.offering {
    text-align: center;
    margin: 4% 2%;
    visibility: visible;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
    background: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: all 0.3s ease-in;
}
/*.offering:hover .whatisit{*/
/*display: block;*/
/*}*/
.offering-img img {
    width: 80px;
    height: 80px;
}
.ys-service-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.offering:hover .ys-service-overlay {
    height: 100%;
}
.whatisit{
    font-size: 20px;
    width: 80%;
    color: #333;
    transition: all 0.3s ease-in;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.benefits-container{
    width: 75%;
    margin: 0 auto;
    padding: 25px 0;
}
.ys-benefits-heading{
    margin-top: 20px;
    padding: 2% 0;
    text-align: center;
    color: #0093d2;
    font-weight: 400;
    font-family: Lato,sans-serif;
    font-size: 45px;
}
.makeItCenter{
    margin: 0 auto;
    width: 80%;
}
.makeItCenter li a{
    cursor: pointer;
}
.benefits-tab {
    padding: 6% 0;
    color: #fff;
    font-size: 20px;
    background: linear-gradient(45deg,#76b85296,#12bcc494);
    margin-top: 6%;
    border-radius: 14px;
}
@media(max-width: 768px){
    .offering{
        width: 50%;
    }
    .ys-service-overlay{
        position: relative;
        overflow: visible;
        margin-top: 25px;
        height: auto;
    }
    .whatisit{
        position: relative;
        width: 100%;
        top: unset;
        left: unset;
        -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }
}
@media(max-width: 600px){
    .yh-school-service .col-50,.makeItCenter,.offering{
        width: 100%;
    }
    .benefits-container{
        width:90%;
    }
}

/* added by krishna on 25 April for self check */
.cpl-0{
    padding-left: 0;
}
.cm-0{
    margin: 0;
}
.d-inlineBlock{
    display: inline-block;
}
.date-block {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 2px;
}
.checkmark-color{
    color:#00bc44;
}
.btnCloseModal{
    display: inline-block;
    width: auto;
}
.fontBold{
    font-weight: bold;
}
.checkfail-color{
    color:#f6002c;
}
.custom-col-3 {
    width: 30%;
}
.custom-col-2{
    width: 17%;
    padding-right: 12px;
}
.customClass {
    float: left;
    margin-left: 15px;
}
/* Styles for dietition module by krishna on 13 May 2019 */
.callhistoryPanel{
    border: 1px solid #ddd;
    padding-bottom: 15px;
    border-radius: 6px;
}
.m0{
    margin: 0;
}
.postcomments.border-none{
    border: none;
}
.mr10{
    margin-right: 10px;
}
.mt10{
    margin-top: 10px;
}
.callBtn{
    background: #7aad3ea8;
    color: #FFFFFF;
    position: absolute;
    /*z-index: 1;*/
    opacity: 1;
    top: 12px;
    right: 10px;

}
.animateCallBtn{
    top: 500px;
    opacity: 0 !important;
    /*animation: animateBtnToBottom .8s 1;*/
    /*-webkit-animation: animateBtnToBottom .8s 1;*/
}
@keyframes animateBtnToBottom {
    0%{
        top: 100px;
    }
    25%{
        top: 200px;
    }
    50%{
        top: 300px;
    }
    75%{
        top: 400px;
    }
    100%{
        top: 400px;
        display: none
    }
}
.callBtn:hover{
    background: #7aad3ea8;
    color: #FFFFFF;
}
.spinner {
    width: 50px;
    text-align: center;
    float: right;
    position: relative;
}

.spinner > div {
    width: 10px;
    height: 10px;
    background-color: #fff;;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}
.diet-plan-container .yhForSchool{
    font-size: 36px;
}
.fixedOnCallPanel {
    position: fixed;
    right: 24px;
    bottom: 0;
    display: inline-block;
    /*border: 1px solid #ccc;*/
    z-index: 1;
    padding: 15px;
    width: 200px;
    text-align: center;
    float: right;
    margin: 25px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #000000b3;
    color: #fff;
}
#callEndBtn{
    /*border-radius: 50%;*/
    padding: 2px 30px;
    font-size: 20px;
    border-color: #fff;
    color: #c9302c;
    background: transparent;
    transition: all 0.3s linear;
}
#callEndBtn:hover{
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
#floatVideo{
    width: 100%;
    height: 100%;
}
.livecallinprogress-cont{
    position: fixed;
    bottom: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;

    width: 15%;
    right: 0;
    margin: 8px 15px;
    z-index: 9999;
}
.urineTimer {
    position: absolute;
    right: 0;
    color: #fcfdfc;
    bottom: 0;
    font-size: 25px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    z-index: 4;
}
#viewCall{
    margin: 0;
    padding: 5px 22px;
    /*margin-top: -6px;*/
    font-size: 16px;
    transition: all 0.3s linear;
    background: transparent;
    border-color: #fff;
}
#viewCall:hover{
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.common-white{
    color: #FFFFFF !important;
}
.serachRow td input{
    width:100%;
}
.callLogDetail{
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}
.callLogDetail .badge{
    background-color: white;
    color: #777;
}

.healthPackageMainContainer{
    width: 90%;/*
    border: 1px solid #eee;*/
    /*background: rgba(0,0,0,0.2);*/
    padding: 25px;
    margin-top: 100px;
    background: rgba(0,0,0,0.1);
    box-shadow: 0 8px 12px 8px rgba(0,0,0,0.2);
}
.healthPackageContainer{
    padding: 15px;
    border-radius: 10px;
}

.healthPackageContainer .card{
    padding: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
    background: rgba(255,255,255,1);
    height: fit-content;
}
.healthPackageContainer .card:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.4);
}

.heathPackageBody{
    font-size: 16px;
}
.healthPackageHead{
    color: dodgerblue;
    font-size: 22px;
    text-align: center;
    padding: 20px;
}
.healthPackageHeading{
    font-size: 33px;
    color: dodgerblue;
    text-align: center;
    font-weight: 500;
}

.enrollmodal{
    width:80%;height:fit-content;background: white;margin-top: 30px;
}

@media screen and (min-width: 900px){
    .healthPackageMainContainer{
        width: 80%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 4%;
    }

    .enrollmodal{
        width:50%;height:fit-content;background: white;margin-top: 30px;
    }
}

@media screen and (max-width: 900px){
    .onscreen .dataTableContainer .column1 {
        width: 30%;
        position: relative;
        bottom: 10px;
        text-align: center;
    }
    .onscreen .dataTableContainer .column2 {
        width: 35%;
        position: relative;
        bottom: 10px;
        text-align: center;
    }
    .column3{
        text-align: center;
        width: 100%;
    }
}
@media screen and (min-width: 900px){
    .onscreen .dataTableContainer .column1 {
        width: 17%;
        position: relative;
        bottom: 10px;
        text-align: center;
    }
    .onscreen .dataTableContainer .column2 {
        width: 20%;
        position: relative;
        bottom: 10px;
        text-align: center;
    }
    .onscreen .column3 {
        width: 44%;
        text-align: center;
    }
}
.rangeColor{
    height: 20px;
}
.custom-col-25{
    width: 25%;
}

/* Styles for 404 page added by krishna on 16 apr 2019 */
.btn-go-back{
    display: inline-block;
    border: 2px solid #0093d6;
    color: #0093d6;
    z-index: 1;
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 12px;
    text-decoration: none;
}
.error-404{
    font-size: 82px;
    color: #0093d6;
    font-weight: 900;
}
.sorry-msg{
    color: #76b852;
}
.response-section{
    justify-content: center;
    align-items: center;
}
.flipedImage{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 100%;
}
.speakBubble {
    position: absolute;
    top: -20px;
    left: 20%;
    width: 170px;
    height: 170px;
}
.speakBubble img{
    width: 100%;
}
@media screen and (max-width: 900px){
    .onscreen .rangeColor {
        font-size: 6px;
        padding: 8px 0;
    }
    .reportContainer2{
        margin-top: 40px !important;
        margin-left: 15px;
    }
    .yoloLogoImage{
        width: 135px !important;
    }
}
@media screen and (min-width: 900px){
    .onscreen .rangeColor {
        font-size: 10px;
        padding: 5px 0;
    }
    .reportContainer2{
        margin-top: 75px !important;
    }
    .yoloLogoImage{
        width: 200px;
    }
}

/* Styles added by Krishna */
.capitalizeText{
    text-transform: capitalize;
}
.user-task-name{
    text-decoration: line-through;
}
.addEffortBtn{
    float: right;
}
.effortCountInput {
    background: transparent;
    border: none;
    border-bottom: 0px solid;
    width: 100px;
}
.removeBorder{
    border-bottom: none;
}
.editable-effort-card-for-today {
    padding: 12px;
}
.futureTask{
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
.green-check{
    color: #7aad3e;
}
.red-cross{
    color: #bd360bba;
}
.employees-table td:first-child{
    text-transform: capitalize;
}
.custom-popover,.custom-popover-for-assignedTask{
    display: none;
    position: absolute !important;
    /*top: 28%;*/
    right: 140px;
}
.custom-popover{
    right: 150px;
}
.card {
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    max-height: 250px;
    overflow-y: scroll;
}
.card .arrow {
    position: absolute;
    display: block;
    width: 1rem;
    height: .5rem;
    margin: 0 .3rem;
}
.card .arrow::after, .card .arrow::before {
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
    border-width: 1rem 0 1rem 1rem;
    border-left-color: rgb(228, 228, 228)
}
.popover{
    max-width: 300px;
    left: 836px;
}
.popover-content {
    height: 180px;
    width: 300px;
}

.popover-footer {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 5px 5px 0 0;
}

.card-body::-webkit-scrollbar{
    width: 10px;
    height: 12px;
    background-color: #ddd;
    border-radius: 8px;
}
.card-body::-webkit-scrollbar-track{
    border-radius: 8px;
    background: #f1f1f1;
}

/* Handle */
.card-body::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background: #818181;
}

/* Handle on hover */
.card-body::-webkit-scrollbar-thumb:hover{
    border-radius: 8px;
    background: #555;
}
/*.follow-up-form{*/
    /*display: none;*/
/*}*/
.slideDownBtn{
    border: 1px solid;
    border-radius: 50%;
    padding: 6px 10px;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
}
.mt-10{
    margin-top: 10px;
}
.search-selected {
    background-color: #e8e8e8;
    color: #333;
}
#myClientsList{
    background-image:    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIS+3VMU9CMRTF8d8zBL+aizoQFhx0kUk33RzdYMNFXUFnYeGrYYyaJiUxJHDLSxodbNKpfeffc9/pbaPyaCrr+3OA++z4rtT5Pg5GuMnCY9yWQEoBE1xhlUUP8YDrCBIB0vojLvGO0yz4hm4JJAKcYYoPHGOZAUdYoIMBXrc5iQAHeMlzviFygj7O8dkWEJU4XI8chALRhn9AVKHf70VRTHu4wFfbmKZLNKt50dLBnna0imcMd/2I0phWa3Y/D1e1Xa9BCZJG0VuQNpaWKMx72xS1Fl5/WN3BN+AgJhnZQlq4AAAAAElFTkSuQmCC');
    background-position: calc(100% - .5rem), 100% 0;
    background-size:  1.5em 1.5em;
    background-repeat: no-repeat;
}
.select-search-box {
    display: none;
    border: 1px solid #ddd;
    border-top: 0;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: absolute;
    z-index: 1;
    background: white;
    width: 77.2%;
    max-height: 135px;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.show-select-list{
    display: block;
}
.select-ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.select-ul li{
    padding: 5px 12px;
}
.select-ul li:hover{
    background-color: #D6D6D6;
}
.add-client-form{
    display: none;
}
/* ------------- Media Queries ----------------*/
@media(max-width: 500px){
    .mapTaskAndCommentTab{
        overflow: scroll;
    }
}
@media (max-width: 425px){
    .historyCommentBox{
        width: 100% !important;
    }
    .thumbs,.addTaskBtn{
        margin-top: 10px;
    }
}