<script>
    $('#usersidebar-wrapper').css({left: '250px'});
</script>
<h3>My Follow Ups</h3>
<hr/>
<div class="panel panel-primary filterable">
    <div class="panel-heading" >
        <h3 class="panel-title">My Follow Ups</h3>
        <div class="pull-right" style="width: 25%;">
            <div class="col-md-12">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="dropdown">
                        <div class="dropdown-toggle"  data-toggle="dropdown">Export To
                            <span class="caret"></span></div>
                        <ul class="dropdown-menu" >
                            <li ng-repeat="files in filetypes"><a ng-click="ExportTo(files,'userFollowupTable')" >{{files}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered" id="userFollowupTable">
        <thead>
            <tr>
                <td><input id="search-by-company" class="form-control" type="text" placeholder="By Company" ng-keyup="filterTable($event,0,'followupsInTabularForm')"></td>
                <td><input id="search-by-person" class="form-control" type="text" placeholder="By Person" ng-keyup="filterTable($event,1,'followupsInTabularForm')"></td>
                <td><input id="search-by-effort" class="form-control" type="text" placeholder="By Effort" ng-keyup="filterTable($event,2,'followupsInTabularForm')"></td>
                <td><input id="search-by-weightage" class="form-control" type="text" placeholder="By weightage" ng-keyup="filterTable($event,3,'followupsInTabularForm')"></td>
                <td><input id="search-by-date" class="form-control" type="text" placeholder="By Date" ng-keyup="filterTable($event,4,'followupsInTabularForm')"></td>
                <td><input id="search-by-remark" class="form-control" type="text" placeholder="By Remark" ng-keyup="filterTable($event,5,'followupsInTabularForm')"></td>
                <td><input id="search-by-status" class="form-control" type="text" placeholder="By Status" ng-keyup="filterTable($event,6,'followupsInTabularForm')"></td>
            </tr>
            <tr class="filters">
                <th>Company</th>
                <th>Person Name</th>
                <th>Effort Type</th>
                <th>Effort Weightage</th>
                <th>Date</th>
                <th>Remarks</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="followupsInTabularForm">
            <tr ng-repeat="row in followups">
                <td class="capitalizeText">{{ row.organization_name }}</td>
                <td class="capitalizeText">{{ row.client_name }}</td>
                <td class="capitalizeText">{{ row.effort_type }}</td>
                <td class="capitalizeText">{{ (row.waitage) ? row.waitage : "--" }}</td>
                <td class="capitalizeText">{{ (row.date) ? row.date : '--' | date:"mediumDate" }}</td>
                <td class="capitalizeText">{{ row.remarks}}</td>
                <td class="capitalizeText">{{ row.status }}</td>
            </tr>
        </tbody>
    </table>
    <h1 ng-show="nodata">No Follow-Ups</h1>
</div>