<!-- Heading -->
<!--<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">User login</h2>
    </div>
</div>-->
<!-- Heading -->
<!--
<div class="formContainer">
    <form ng-submit="loginUser(data)">
        <label>Username:</label>
        <input class="form-control" type="text" name="username" placeholder="please enter username" ng-model="data.username" autocomplete="false">
        <br>

        <label>Password:</label>
        <input class="form-control" type="password" name="password" placeholder="please enter password" ng-model="data.password" autocomplete="false">
        <br>

        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>
-->
<style type="text/css">
    body {
        background-image: url('crm/public/assets/images/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        z-index: -2;
    }
    .backgroundShade{
        height: -webkit-fill-available;
        width: 100%;
        position: fixed;
        z-index: -1;
        background: rgba(0,0,0,0.5);
    }
</style>

<div class="login-form-container">
    <div class="loginContainer">
        <div class="loginHeader">
            <div class="text-center">
                <h3>Login Panel</h3>
            </div>
        </div>
        <div class="fields-container">
            <form class="form-signin" id="signinForm" ng-submit="loginUser(data)" onsubmit="return false">

                <div class="form-group">
                    <label class="sr-only">Phone number</label>
                    <input type="text" id="contact" ng-keypress="isNumberKey($event)" name="contact" ng-model="data.contact" class="form-control "
                           placeholder="Phone contact number" required="" autofocus="true" autocomplete="on" minlength="10" maxlength="12">
                </div>
                <div class="form-group">
                    <label class="sr-only">Password</label>
                    <input type="password" ng-model="data.password" id="password" name="password"
                           class="form-control " placeholder="Password" required="" autocomplete="on">
                </div>
                <button class="btn btn-lg btn-info btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
