<script>
    $('#usersidebar-wrapper').css({left: '250px'});
</script>
<h3>My Clients</h3>
<hr/>
<div class="panel panel-primary filterable">
    <div class="panel-heading" >
        <h3 class="panel-title" style="opacity: 0;">My Clients</h3>
        <div class="pull-right" style="width: 25%;">
            <div class="col-md-12">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="dropdown">
                        <div class="dropdown-toggle"  data-toggle="dropdown">Export To
                            <span class="caret"></span></div>
                        <ul class="dropdown-menu" >
                            <li ng-repeat="files in filetypes"><a ng-click="ExportTo(files,'userAllClientsTable')" >{{files}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered" id="userAllClientsTable">
        <thead>
            <tr>
                <td><input id="search-by-company" class="form-control" type="text" placeholder="By Company" ng-keyup="filterTable($event,0,'allclientsInTabularForm')"></td>
                <td><input id="search-by-person" class="form-control" type="text" placeholder="By Person" ng-keyup="filterTable($event,1,'allclientsInTabularForm')"></td>
                <td><input id="search-by-startdate" class="form-control" type="text" placeholder="By Start Date" ng-keyup="filterTable($event,2,'allclientsInTabularForm')"></td>
                <td><input id="search-by-location" class="form-control" type="text" placeholder="By City" ng-keyup="filterTable($event,3,'allclientsInTabularForm')"></td>
                <td><input id="search-by-lastentry" class="form-control" type="text" placeholder="By Last Entry" ng-keyup="filterTable($event,4,'allclientsInTabularForm')"></td>
                <td><input id="search-by-status" class="form-control" type="text" placeholder="By Status" ng-keyup="filterTable($event,5,'allclientsInTabularForm')"></td>
                <td><input id="search-by-date" class="form-control" type="text" placeholder="By Date" ng-keyup="filterTable($event,6,'allclientsInTabularForm')"></td>
                <td></td>
            </tr>
            <tr>
                <th>Company</th>
                <th>Person Name</th>
                <th>Client Start Date</th>
                <th>City</th>
                <th>Last Entry</th>
                <th>Status</th>
                <th>Last Entry Date</th>
                <th>History</th>
            </tr>
        </thead>
        <tbody id="allclientsInTabularForm">
            <tr ng-repeat="row in clientsOfUser" ng-hide="!row.isactive">
                <td class="capitalizeText">{{ row.organization_name }}</td>
                <td class="capitalizeText">{{ row.client_name }}</td>
                <td class="capitalizeText">{{ (row.start_date != undefined) ? row.start_date : today | date:"medium" }}</td>
                <td class="capitalizeText">{{ row.place }}</td>
                <td>{{row.latest_followup[0].remarks}}</td>
                <td>{{row.latest_followup[0].status}}</td>
                <td>{{row.latest_followup[0].date | date:"medium"}}</td>
                <!--&lt;!&ndash;  data-contentwrapper=".custom-popover"  rel="popover" title="History" &ndash;&gt;-->
                <td><button type="button" class="btn btn-primary" id="popOver-{{$index}}" ng-click="showPopOver($event,row._id)">History</button></td>
            </tr>
        </tbody>
    </table>
    <h1 ng-show="nodata">No Follow-Ups</h1>
</div>
<div class="card custom-popover">
    <div class="arrow" style="top: 0px;right: -14px;"></div>
    <div class="card-header">
        History
    </div>
    <div class="card-body comment-history">
        <div ng-repeat="row in historyData">
            <p style="font-weight: bold;color: #777;margin-bottom: 0;">
                Followed Up On {{row.date | date:'medium'}}
            </p>
            <p style="font-weight: bold;color: #000;margin-bottom: 0;" class="capitalizeText">
                <span style="float: right;">
                    {{row.status}}
                </span>
                {{row.remarks}}
            </p>
            <!--<p style="font-weight: bold;color: #a2a2a2;"></p>-->
            <hr style="margin: 10px 0;"/>
        </div>
        <div ng-if="historyData.length == 0">
            No history Yet
        </div>
    </div>
    <hr style="margin: 0;" ng-hide="true"/>
    <div style="margin-top: 10px;padding: 12px;" ng-hide="true">
        <input type="text" ng-model="comment" name="comment" class="form-control inputBox" placeholder="Comment" style="max-width: 250px;width: 50%; margin-right: 5px" autocomplete="off">
        <!--<button class="thumbs" id="like" ng-click="thumbs(1)">-->
        <!--<i class="fa fa-thumbs-up" aria-hidden="true"></i>-->
        <!--</button>-->
        <!--<button class="thumbs" id="dislike" ng-click="thumbs(-1)">-->
        <!--<i class="fa fa-thumbs-down" aria-hidden="true"></i>-->
        <!--</button>-->
        <!--<button class="btn btn-primary" ng-click="submitComment(comment)">Post</button>-->
    </div>
</div>