<script>
    $('#usersidebar-wrapper').css({left: '250px'});
</script>
<div class="">
    <h3 style="font-weight: 600; margin-top: 10px;">My Profile</h3>
    <hr>

    <div class="panel panel-primary filterable" ng-show="isLoggedIn">
        <div class="panel-heading" >
            <h3 class="panel-title">{{userdetails.name | uppercase}}'s Information</h3>
        </div>
        <div class="">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="profileImageLogo"><i class="fa fa-user-circle"></i></div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-9" style="padding: 45px 0px 45px 30px;">
                    <div>
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-4"><span class="headingPersonalInfo">Name : </span><span class="capitalizeText">{{userdetails.name}}</span></div>
                            <div class="col-sm-6 col-md-4 col-lg-4"><span class="headingPersonalInfo">Username :</span><span >{{userdetails.username}}</span></div>
                            <div class="col-sm-6 col-md-4 col-lg-4"><span class="headingPersonalInfo">Userid :</span><span>{{userdetails.userid}}</span></div>
                            <div class="col-sm-6 col-md-4 col-lg-4"><span class="headingPersonalInfo">Email :</span><span>{{userdetails.email}}</span></div>
                            <div class="col-sm-6 col-md-4 col-lg-4"><span class="headingPersonalInfo">Contact :</span><span>{{userdetails.contact}}</span></div>
                            <div class="col-sm-6 col-md-4 col-lg-4"><span class="headingPersonalInfo">Gender :</span><span class="capitalizeText">{{userdetails.gender}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
