<div class="">
    <div class="containerRegister">
        <div class="">
            <div class="text-center">
                <h3>User Registration</h3>
            </div>
        </div>
        <div class="">
            <form ng-submit="regUser(data)">

                <label for="name">Name:</label>
                <input class="form-control manualwidth display_initial" id="name" type="text" name="name" placeholder="please enter name" ng-model="data.name" autocomplete="false">
                <br>

                <label>Email:</label>
                <input class="form-control manualwidth display_initial" type="email" name="email" placeholder="please enter email" ng-model="data.email" autocomplete="false">
                <br>

                <label>Username:</label>
                <input class="form-control manualwidth display_initial" type="text" name="username" placeholder="please enter username" ng-model="data.username" autocomplete="false">
                <br>

                <label>Designation:</label>
                <input class="form-control manualwidth display_initial" type="text" name="designation" placeholder="please enter designation" ng-model="data.designation" autocomplete="false">
                <br>

                <label>Weight./Day:</label>
                <input class="form-control manualwidth display_initial" type="text" name="weightageperday" placeholder="please enter weightage per day" ng-model="data.weightageperday" autocomplete="false">
                <br>

                <label>Password:</label>
                <input class="form-control manualwidth display_initial" type="password" name="password" placeholder="please enter password" ng-model="data.password" autocomplete="false">
                <br>

                <label>User ID:</label>
                <input class="form-control manualwidth display_initial" type="text" name="userid" placeholder="please enter user id" ng-model="data.userid" autocomplete="false">
                <br>

                <label>Contact:</label>
                <input class="form-control manualwidth display_initial" type="text" name="contact" placeholder="please enter contact"  minlength="10" maxlength="12" ng-keypress="isNumberKey($event)" ng-model="data.contact" autocomplete="false">
                <br>

                <label>Gender:</label>
                <select ng-model="data.gender" class="form-control manualwidth display_initial" >
                    <option value="male" selected="true">male</option>
                    <option value="female">female</option>
                </select>
                <br />
                <br />
                <div style="margin: 0 auto;width: 100px;">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br />
<br />
<br />