<script>
    $('#usersidebar-wrapper').css({left: '250px'});
</script>
<style>
    .thumbs{
        background: transparent;
        padding: 0;
        font-size: 20px;
        border: none;
        margin-right: 10px;
    }
    .thumbs:hover{
        color: blue;
    }
</style>
<div class="">
    <div class="juniorHeader">
        <div class="row">
            <div class="">
                <h3 style="padding: 0 14px;font-weight: 600; margin-top: 10px;">{{userinfo.name | uppercase}}'s Profile</h3>
            </div>
        </div>
    </div>
    <hr />
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" ng-click="showTab('clients')" aria-expanded="true"> Clients </a></li>
        <li><a data-toggle="tab" ng-click="showTab('profile')" aria-expanded="true"> Profile </a></li>
    </ul>
    <div class="tab-content onscreen">
        <div ng-show="tab['clients']">
            <div ng-show="gotClients">
                <div class="tabularview">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <td><input id="search-by-id" class="form-control" type="text" placeholder="By Id" ng-keyup="filterTable($event,0,'allclientsInTabularForm')"></td>
                                <td><input id="search-by-company" class="form-control" type="text" placeholder="By Company" ng-keyup="filterTable($event,1,'allclientsInTabularForm')"></td>
                                <td><input id="search-by-person" class="form-control" type="text" placeholder="By Person" ng-keyup="filterTable($event,2,'allclientsInTabularForm')"></td>
                                <td><input id="search-by-location" class="form-control" type="text" placeholder="By Location" ng-keyup="filterTable($event,3,'allclientsInTabularForm')"></td>
                                <td><input id="search-by-email" class="form-control" type="text" placeholder="By Email ID" ng-keyup="filterTable($event,4,'allclientsInTabularForm')"></td>
                                <td><input id="search-by-contact" class="form-control" type="text" placeholder="By Contact" ng-keyup="filterTable($event,5,'allclientsInTabularForm')"></td>
                                <td><input id="search-by-othercontact" class="form-control" type="text" placeholder="By Contact" ng-keyup="filterTable($event,6,'allclientsInTabularForm')"></td>
                                <td><input id="search-by-landline" class="form-control" type="text" placeholder="By Landline" ng-keyup="filterTable($event,7,'allclientsInTabularForm')"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Serial ID</td>
                                <th>Company</th>
                                <th>Person Name</th>
                                <th>Location</th>
                                <th>Email ID</th>
                                <th>Contact No. 1</th>
                                <th>Contact No. 2</th>
                                <th>Landline</th>
                                <th>History</th>
                            </tr>
                            </thead>
                            <tbody id="allclientsInTabularForm">
                            <tr ng-repeat="row in clientsOfUser">
                                <td>{{ $index }}</td>
                                <td class="capitalizeText">{{ row.organization_name }}</td>
                                <td class="capitalizeText">{{ row.client_name }}</td>
                                <td class="capitalizeText">{{ row.place }}</td>
                                <td class="">{{ row.email }}</td>
                                <td class="capitalizeText">{{ row.contact_number1}}</td>
                                <td class="capitalizeText">{{ row.contact_number2 }}</td>
                                <td class="capitalizeText">{{ row.landline }}</td>
                                <!--&lt;!&ndash;  data-contentwrapper=".custom-popover"  rel="popover" title="History" &ndash;&gt;-->
                                <td><button type="button" class="btn btn-primary" id="popOver-{{$index}}" ng-click="showPopOver($event,row._id)">History</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card custom-popover">
                    <div class="arrow" style="top: 0px;right: -14px;"></div>
                    <div class="card-header">
                        History
                    </div>
                    <div class="card-body comment-history">
                        <div ng-repeat="row in historyData">
                            <p style="font-weight: bold;color: #000;margin-bottom: 0;" class="capitalizeText">
                                {{row.remarks}}
                                <span style="float: right;">
                                    <i style="color: #468ce5" ng-class="{'fa fa-thumbs-up':comment.rating == '1', 'fa fa-thumbs-down':comment.rating == '-1'}" aria-hidden="true"></i>
                                    {{row.status}}
                                </span>
                            </p>
                            <p style="font-weight: bold;color: #777;margin-bottom: 0;">
                                - Followed Up On {{row.date | date:'mediumDate'}}
                            </p>
                            <!--<p style="font-weight: bold;color: #a2a2a2;"></p>-->
                            <hr style="margin: 10px 0;"/>
                        </div>
                        <div ng-if="historyData.length == 0">
                            No history Yet
                        </div>
                    </div>
                    <hr style="margin: 0;" ng-hide="true"/>
                    <div style="margin-top: 10px;padding: 12px;" ng-hide="true">
                        <input type="text" ng-model="comment" name="comment" class="form-control inputBox" placeholder="Comment" style="max-width: 250px;width: 50%; margin-right: 5px" autocomplete="off">
                        <!--<button class="thumbs" id="like" ng-click="thumbs(1)">-->
                        <!--<i class="fa fa-thumbs-up" aria-hidden="true"></i>-->
                        <!--</button>-->
                        <!--<button class="thumbs" id="dislike" ng-click="thumbs(-1)">-->
                        <!--<i class="fa fa-thumbs-down" aria-hidden="true"></i>-->
                        <!--</button>-->
                        <button class="btn btn-primary" ng-click="submitComment(comment)">Post</button>
                    </div>
                </div>
            </div>
            <h3 ng-hide="gotClients">No Clients</h3>
        </div>
        <div ng-show="tab['profile']">
            <div class="panel panel-primary filterable" >
                <div class="panel-heading" >
                    <h3 class="panel-title">{{userinfo.name | uppercase}}'s Information</h3>
                </div>
                <div class="">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="profileImageLogo"><i class="fa fa-user-circle"></i></div>
                        </div>
                        <div class="col-sm-12 col-md-8 col-lg-9" style="padding: 45px 0px 45px 30px;">
                            <div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-4 col-lg-4"><span class="headingPersonalInfo">Name : </span><span>{{userinfo.name}}</span></div>
                                    <div class="col-sm-6 col-md-4 col-lg-4"><span class="headingPersonalInfo">Username :</span><span>{{userinfo.username}}</span></div>
                                    <div class="col-sm-6 col-md-4 col-lg-4"><span class="headingPersonalInfo">Userid :</span><span>{{userinfo.userid}}</span></div>
                                    <div class="col-sm-6 col-md-4 col-lg-4"><span class="headingPersonalInfo">Email :</span><span>{{userinfo.email}}</span></div>
                                    <div class="col-sm-6 col-md-4 col-lg-4"><span class="headingPersonalInfo">Contact :</span><span>{{userinfo.contact}}</span></div>
                                    <div class="col-sm-6 col-md-4 col-lg-4"><span class="headingPersonalInfo">Gender :</span><span>{{userinfo.gender}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
