<script>
    $('#usersidebar-wrapper').css({left: '250px'});
</script>
<div class="">
    <div class="">
        <div class="row">
            <div class="col-sm-10">
                <h3 style="font-weight: 600; margin-top: 10px;">My Working</h3>
            </div>
            <!--<div class="col-sm-2 text-center">-->
                <!--<span class="slideDownBtn"><i class="fa fa-arrow-up"></i></span>-->
            <!--</div>-->
        </div>
    </div>
    <hr />
    <div class="add-effort-form follow-up-form clearfix">
        <form ng-submit="addClientFollowUpDetails(data)" onsubmit="return false;" class="effort-form clearfix">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Person Name:</label>
                <div class="col-sm-10">
                    <!--<select id="myClientsList" ng-model="data.selectedClient" ng-options="client.organization_name + ' (' + client.client_name + ')' for client in clientsOfUser"-->
                            <!--class="form-control manualwidth display_initial capitalizeText">-->
                    <!--</select>-->

                    <input id="myClientsList" ng-model="chosenClient" type="text" style="margin:0;" class="form-control manualwidth display_initial inputBox" ng-keyup="filterList($event,'select-client-list')" autocomplete="off">
                    <div id="customSearchSelectBox" class="select-search-box">
                        <ul class="select-ul" id="select-client-list">
                            <li ng-repeat="client in clientsOfUser" data-value="{{client}}" value="{{client}}" ng-click="selectedClient(client)">{{client.client_name}} - ({{client.organization_name}})</li>
                        </ul>
                    </div>
                    <!--<selectize options='myOptions' config='{maxItems: 1}' ng-model="myModel"></selectize>-->
                    <!--<select id="myClientsList" class="form-control manualwidth display_initial capitalizeText" ng-model="data.selectedClient">-->
                        <!--<option ng-repeat="client in clientsOfUser" value="{{client}}">{{client.client_name}}</option>-->
                    <!--</select>-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2  mt-10">Effort Type:</label>
                <div class="col-sm-10 mt-10">
                    <select ng-model="data.selectedEffort" ng-options="effort.effort + ' (' + effort.waitage + ')' for effort in mappedeffortList"
                            class="form-control manualwidth display_initial capitalizeText">
                    </select>
                    <!--<select class="form-control manualwidth display_initial capitalizeText" name="effort" ng-model="data.effort">-->
                        <!--<option ng-repeat="effort in mappedeffortList" value="{{effort.effort}}">{{effort.effort}} ({{effort.waitage}})</option>-->
                    <!--</select>-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Remark:</label>
                <div class="col-sm-10">
                    <textarea style="margin: 0;" class="form-control manualwidth display_initial" id="remark" name="remark" placeholder="Please enter Remark" ng-model="data.remark" autocomplete="false"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Follow Up Date:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control manualwidth display_initial inputBox followupDate" data-date-format="mm/dd/yyyy">
                    <input type="hidden" class="dateoffollowUp" ng-model="data.followupDate" name="followupDate" >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Follow Up Reason:</label>
                <div class="col-sm-10">
                    <textarea style="margin: 0;" class="form-control manualwidth display_initial" name="followup_reason" placeholder="Please enter Follow Up Reason" ng-model="data.followup_reason" autocomplete="false"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Status:</label>
                <div class="col-sm-10">
                    <select class="form-control manualwidth display_initial" name="status" ng-model="data.status">
                        <option value="cold">Cold</option>
                        <option value="moderate">Moderate</option>
                        <option value="hot">Hot</option>
                    </select>
                </div>
            </div>
            <!--<div class="form-group row">-->
                <!--<label class="col-sm-2 col-form-label">Attachment:</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input class="form-control manualwidth display_initial" type="file" name="attachment" ng-model="data.attachment" accept="*/*"-->
                    <!--onchange="angular.element(this).scope().fileNameChanged(this)">-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-md-2" style="padding: 0;">
                <button class="btn btn-primary" type="submit" style="margin: 0 auto;width: 100px;">Add</button>
            </div>
            <div class="col-sm-8 text-right">
                <p class="manualwidth display_initial ">
                    <b>Pending Weightage - {{((perdaywaitage - todaysWaitage) > 0) ? (perdaywaitage - todaysWaitage) : 0}}, Completed Weightage - {{(todaysWaitage)?todaysWaitage:0}}, Total Weightage - {{perdaywaitage}}</b>
                </p>
            </div>
        </form>
    </div>
    <br />
</div>

